<div class="magia">
      <input type="text" id="card-nome-magia" placeholder="Nome da magia">
      <div class="atributos-magia">
      	<div class="label">Nível</div>
      	<input type="text" placeholder="Nível" class="input-magia">
      </div>
      <div class="atributos-magia">
      	<div class="label">Tempo de Execução</div>
      	<input type="text" placeholder="Tempo de Execução" class="input-magia">
      </div>
      <div class="atributos-magia">
      	<div class="label">Alcance</div>
      	<input type="text" placeholder="Alcance" class="input-magia">
      </div>
      <div class="atributos-magia">
      	<div class="label">Área</div>
      	<input type="text" placeholder="Área" class="input-magia">
      </div>
      <div class="atributos-magia">
      	<div class="label">Alvos</div>
      	<input type="text" placeholder="Alvos" class="input-magia">
      </div>
      <div class="atributos-magia">
      	<div class="label">Duração</div>
      	<input type="text" placeholder="Duração" class="input-magia">
      </div>
      <textarea id="magia-descricao" placeholder="Descrição da magia"></textarea>
      <div id="marca-ajuste" class="marca"><a href="#">Criado por helprpg.com.br</a></div>
</div>