<div class="monstro">
	<input type="text" id="card-nome-monstro" placeholder="Nome do monstro">
	<div class="monstro-attr">
		<div id="pv-box">
			<div style="height:20px;">
				<span class="monstro-label">PV</span>
			</div>
			<input type="text" id="card-pv-monstro" placeholder="PV">
		</div>
	</div>
	<div class="monstro-attr">
		<div style="height:20px;">
			<span class="monstro-label">CA</span>
		</div>
		<input type="text" id="card-ca-monstro" placeholder="CA">
	</div>
	<div class="monstro-attr">
		<div style="height:20px;">
			<span class="monstro-label">Iniciativa</span>
		</div>
		<input type="text" id="card-iniciativa-monstro" placeholder="Ini">
	</div>
	<div class="monstro-attr-testes">
		<div style="height:20px;">
			<span class="monstro-label-testes">Fortitude</span>
		</div>
		<input type="text" id="card-fort-monstro" placeholder="Fortitude">
	</div>
	<div class="monstro-attr-testes">
		<div style="height:20px;">
			<span class="monstro-label-testes">Vontade</span>
		</div>
		<input type="text" id="card-vont-monstro" placeholder="Vontade">
	</div>
	<div class="monstro-attr-testes ultimo">
		<div style="height:20px;">
			<span class="monstro-label-testes">Reflexos</span>
		</div>
		<input type="text" id="card-refl-monstro" placeholder="Reflexos">
	</div>
	
	<input type="text" id="card-raca-monstro" placeholder="Raça">
	<div id="marca-ajuste" class="marca"><a href="#">Criado por helprpg.com.br</a></div>

	<?php $attr = ['For','Des','Con','Int','Sab','Car']; ?>
	<div id="atributos-de-monstro">
		<?php foreach ($attr as $key => $value): ?>
		<div class="atributos-monstros">
			<div class="label-monstro"><?php echo $value; ?></div>
			<input type="text" name="<?php echo $value; ?>" value="" class="input-atributo">
		</div>
		<?php endforeach ?>
	</div>
</div>