<div class="aventura">
	<input type="text" id="card-nome-aventura" class="radial-transparent" placeholder="Nome da aventura">
	<textarea id="card-descricao-aventura" class="radial-transparent" placeholder="Descrição"></textarea>
	<div id="marca-ajuste" class="marca"><a href="#">Criado por helprpg.com.br</a></div>
</div>