<div id="card-criatura">
	<input type="text" placeholder="Nome do Personagem" id="card-nome">
	<div class="atributos-secundario" style="margin-top: 5px;">
		<div style="height:20px;">
			<span class="label-criatura">Nível</span>
		</div>
		<input type="text" placeholder="20" id="card-nivel">
	</div>
	<div class="atributos-secundario">
		<div style="height:20px;">
			<span class="label-criatura">PV</span>
		</div>
		<input type="text" placeholder="100" id="card-pv">
	</div>
	<div class="atributos-secundario">
		<div style="height:20px;">
			<span class="label-criatura">CA</span>
		</div>
		<input type="text" placeholder="20" id="card-ca">
	</div>
	<div class="atributos-secundario">
		<div style="height:20px;">
			<span class="label-criatura">Iniciativa</span>
		</div>
		<input type="text" placeholder="+8" id="card-ini">
	</div>
	<div class="atributos-secundario-testes">
		<div style="height:25px;">
			<span class="label-criatura-testes">Fortitude</span>
		</div>
		<input type="text" placeholder="+12" id="card-fort">
	</div>
	<div class="atributos-secundario-testes">
		<div style="height:25px;">
			<span class="label-criatura-testes">Vontade</span>
		</div>
		<input type="text" placeholder="+12" id="card-vont">
	</div>
	<div class="atributos-secundario-testes">
		<div style="height:25px;">
			<span class="label-criatura-testes">Reflexos</span>
		</div>
		<input type="text" placeholder="+12" id="card-refl">
	</div>
</div>
<div id="classe-raca">
	<input type="texto" placeholder="Raça" id="card-criatura-raca">
	<input type="texto" placeholder="Classe" id="card-criatura-classe">
</div>	
<div id="marca-ajuste" class="marca"><a href="#">Card criado no helprpg.com.br</a></div>
<div id="cards-atriutos-criatura">
	<?php $attr = ['For','Des','Con','Int','Sab','Car']; ?>
	<?php foreach ($attr as $key => $value): ?>
		<div class="atributo">
			<div class="atributo-title"><?php echo $value; ?></div>
			<input type="text" class="card-input-criatura" placeholder="10" id="<?php echo $key; ?>">
		</div>
	<?php endforeach ?>
</div>	