<div class="tesouro">
      <input type="text" id="card-nome-tesouro" placeholder="Tesouro da aventura">
      <div class="bloco">
      	<p class="card-label-tesouro">Bronze</p>
      	<input type="text" id="card-pb-tesouro" placeholder="PB">
      </div>
      <div class="bloco">
      	<p class="card-label-tesouro">Prata</p>
      	<input type="text" id="card-pp-tesouro" placeholder="PP">
      </div>
      <div class="bloco">
      	<p class="card-label-tesouro">Ouro</p>
      	<input type="text" id="card-po-tesouro" placeholder="PO">
      </div>
      <div class="bloco">
      	<p class="card-label-tesouro">Platina</p>
      	<input type="text" id="card-pl-tesouro" placeholder="Pl">
      </div>
      <textarea id="card-descricao-tesouro" placeholder="Descreva itens mágicos, mundanos, objetos de arte e etc."></textarea>
      <div id="marca-ajuste" class="marca"><a href="#">Criado por helprpg.com.br</a></div>
</div> 