<div class="meme-rpg">
	<textarea id="meme-nome-topo" placeholder="Quando o meme é bom"></textarea>
	<img src="<?php echo URL_BASE; ?>app/assets/img/logo.png" class="logo-in-mame">
	<textarea id="meme-nome-baixo" placeholder="A gente compartilha!"></textarea>
	<div id="marca-ajuste" class="marca"><a href="#">Criado por helprpg.com.br</a></div>
</div>