<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: cardrpg
-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Actor" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aldrich" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allerta" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allerta Stencil" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andika" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous Pro" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Antic" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anton" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arimo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bowlby One SC" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Buda" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin Condensed" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cagliostro" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Carme" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Carter One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Chivo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Coda Caption" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Convergence" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cousine" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cuprum" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Days One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact Gothic" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dorsa" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid Sans" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid Sans Mono" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Federo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Geo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gruppo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hammersmith One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Istok Web" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jockey One" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin Sans" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kenia" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lekton" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Mako" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Maven Pro" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Metrophobic" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Molengo" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=News Cycle" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nobile" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Numans" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open Sans" /> 
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open Sans Condensed" />  

<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de cartas para RPG">Gerador de cartas para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Monte um card!</p>
   		<span style="margin-left: 15px; float:left;">Template</span>
   		<select name="card-tipo" id="card-select">
            <option value="">Selecione</option>
   			<option value="criatura">Template - ficha d20</option>
            <option value="aventura">Template - Aventura</option>
            <option value="tesouro">Template - Tesouro</option>
            <option value="monstro">Template - Monstro</option>
            <option value="magia">Template - Magia</option>
            <option value="meme">Memes RPG</option>
        </select>

        <span style="margin-left: 15px;">Fonte</span>
        <select name="card-fonte" id="card-select-font">
            <option value="">Selecione</option>
            <option value="fantasy">fantasy</option>
            <option value="Arial, sans-serif">Arial, sans-serif</option>
            <option value="Abe">Abe</option>
            <option value="Aclonica">Aclonica</option>
            <option value="Actor">Actor</option>
            <option value="Aldrich">Aldrich</option>
            <option value="Allerta">Allerta</option>
            <option value="Allerta Stencil">Allerta Stencil</option>
            <option value="Amaranth">Amaranth</option>
            <option value="Andika">Andika</option>
            <option value="Anonymous Pro">Anonymous Pro</option>
            <option value="Antic">Antic</option>
            <option value="Anton">Anton</option>
            <option value="Arimo">Arimo</option>
            <option value="Bowlby One">Bowlby One</option>
            <option value="Bowlby One SC">Bowlby One SC</option>
            <option value="Buda">Buda</option>
            <option value="Cabin">Cabin</option>
            <option value="Cabin Condensed">Cabin Condensed</option>
            <option value="Cagliostro">Cagliostro</option>
            <option value="Candal">Candal</option>
            <option value="Cantarell">Cantarell</option>
            <option value="Carme">Carme</option>
            <option value="Carter One">Carter One</option>
            <option value="Chivo">Chivo</option>
            <option value="Coda Caption">Coda Caption</option>
            <option value="Convergence">Convergence</option>
            <option value="Cousine">Cousine</option>
            <option value="Cuprum">Cuprum</option>
            <option value="Days One">Days One</option>
            <option value="Didact Gothic">Didact Gothic</option>
            <option value="Dorsa">Dorsa</option>
            <option value="Droid Sans">Droid Sans</option>
            <option value="Droid Sans Mono">Droid Sans Mono</option>
            <option value="Federo">Federo</option>
            <option value="Francois One">Francois One</option>
            <option value="Geo">Geo</option>
            <option value="Gruppo">Gruppo</option>
            <option value="Hammersmith One">Hammersmith One</option>
            <option value="Inconsolata">Inconsolata</option>
            <option value="Istok Web">Istok Web</option>
            <option value="Jockey One">Jockey One</option>
            <option value="Josefin Sans">Josefin Sans</option>
            <option value="Jura">Jura</option>
            <option value="Kenia">Kenia</option>
            <option value="Lato">Lato</option>
            <option value="Lekton">Lekton</option>
            <option value="Mako">Mako</option>
            <option value="Marvel">Marvel</option>
            <option value="Maven Pro">Maven Pro</option>
            <option value="Metrophobic">Metrophobic</option>
            <option value="Michroma">Michroma</option>
            <option value="Molengo">Molengo</option>
            <option value="Muli">Muli</option>
            <option value="News Cycle">News Cycle</option>
            <option value="Nobile">Nobile</option>
            <option value="Numans">Numans</option>
            <option value="Nunito">Nunito</option>
            <option value="Open Sans">Open Sans</option>
            <option value="Open Sans Condensed">Open Sans Condensed</option>
        </select>

        <span>Tam.</span>
        <select name="card-tamanho" id="card-select-tamanho">
            <option value="">Selecione</option>
            <?php for ($i=0; $i < 40; $i++) : ?>
                <option value="<?php echo $i+10; ?>"><?php echo ($i+10).'px'; ?></option>
            <?php endfor; ?>
        </select>
      
        <div style="margin-left: 15px; margin-top:15px; width:50%; float:left;">
            <input type="file" class="btn" name="card" id="card_link">
        </div>

        <div style="margin-left: 15px; margin-top:15px; width:30%; float:left;">
            <input type="button" class="btn" name="Download" value="Exportar imagem" onclick="download('card-area');">
            <input type="checkbox" name="cor-padrao" id="cor-padrao" text="Texto cor Preto" style="width: 20px;height: 20px;">
            <span>Cor</span>
        </div>
        <div class="clear"></div>

        <div id="canvas">
          	<div id="card-area">
          		<?php require 'card-criatura.phtml'; ?>
            </div>
        </div>
	</div>
</div>
