<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: corrupcao
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de corrupções RPG">Gerador de corrupções RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Corrupcoes-para-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Gerador de corrupção é um gerador que sorteia descrições de como um personagem pode ficar após fazer um pacto corrompido.</p>
   		<div class="item item-other">
        	<div class="inner" style="text-align: justify;">
	        	<h3><?php echo ucfirst($sorteio); ?></h3>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>