
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="#" title="Utilitários">Dashboard Admin</a>
				        <a class="label-target" href="#">Olá <?php echo $this->user[0]->nick; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>

				    <div class="content">
				    	<div>
				    		<a href="<?php echo URL_BASE.'dashboard/alterar_dados'; ?>" class="ativar-btn">Editar meus dados</a>
				    		<a href="<?php echo URL_BASE.'dashboard/msg'; ?>" class="ativar-btn">Visualizar mensagens</a>
				    		<a href="<?php echo URL_BASE.'dashboard/nova_msg'; ?>" class="ativar-btn">Nova mensagem</a>
				    	</div>
				    	<br>
				    	<table id="tabela-pesquisar" width="100%" class="display">
						    <thead>
						        <tr>
						            <th>Usuário</th>
						            <th>Cadastrado</th>
						            <th>Ativado</th>
						            <th>Expira</th>
						            <th>Status</th>
						            <th>Modo</th>
						            <th>Plano</th>
						            <th>Ação</th>
						        </tr>
						    </thead>
						    <tbody>
				    		<?php foreach ($usuarios as $key => $value): ?>
						        <tr>
						            <td><b><?php echo $value->email; ?></b></td>
						            <td><?php echo $value->created_at; ?></td>
						            <td><?php echo $value->data_ativacao; ?></td>
						            <?php $model->compare_data($value->data_ativacao, $value->plano); ?>
						            <?php if ($value->status == 'ativo'): ?>
						            	<td><?php echo 'Ativo'; ?></td>
						            <?php else: ?>
						            	<td><?php echo 'Desativado'; ?></td>
						            <?php endif ?>
						            <?php if ($value->contador == 0): ?>
						            	<td class="off">Off</td>
						            <?php elseif ($value->contador == 1): ?>	
						            	<td class="on">On</td>
						            <?php else: ?>	
						            	<td class="ilicito">Ilicito</td>
						            <?php endif ?>
						            <td><?php echo $model->planos($value->plano); ?></td>
						            <td>
						            	<a href="<?php echo URL_BASE.'dashboard/ativar_usuario/'.$value->id; ?>" class="ativar-btn">Ativar</a>
						            	<a href="<?php echo URL_BASE.'dashboard/desativar_usuario/'.$value->id; ?>" class="ativar-btn">Desativar</a>
						            	<a data-url="<?php echo URL_BASE.'dashboard/deletar_usuario/'.$value->id; ?>" class="ativar-btn deletar">Del</a>
						            	<a href="<?php echo URL_BASE.'dashboard/alterar_dados/'.$value->id; ?>" class="ativar-btn">Edt</a>
						            </td>
						        </tr>
					    	<?php endforeach ?>
						    </tbody>
						</table>
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<div id="confirm-delete">
		<div id="into-confirm">
			<p>Você tem certeza que deseja deletar este usuário?</p>
			<div class="sim-btn">
				<a href="" id="deletar-usuario">Sim</a>
			</div>
			<div class="fechar-btn">
				<a href="#" id="fechar">Fechar</a>
			</div>
		</div>
	</div>

	<div id="confirm-reset">
		<div id="into-confirm">
			<p>Você tem certeza que deseja resetar o contador de acesso deste usuário?</p>
			<div class="sim-btn">
				<a href="" id="resetar-usuario">Sim</a>
			</div>
			<div class="fechar-btn">
				<a href="#" id="fechar">Fechar</a>
			</div>
		</div>
	</div>
	<?php require 'footer.phtml'; ?>

	<?php echo $this->js_files; ?>
	</body>
</html>