
    <?php require 'header.phtml'; ?>

    <div id="primary">
        <div class="wide">
            <div id="main" class="dashboard">
                <div class="label-layout">
                    <h2 class="title emfont">
                        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard Admin - Alterando dados</a>
                        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
                        <div class="clear"></div>
                    </h2>
                    <div class="clear"></div>
                    <div class="content">
                        <?php if (isset($_QUERY['status'])): ?>
                            <div class="display-msg" id="display-msg">
                                <p><?php echo $this->display[$_QUERY['status']]; ?></p>
                                <span id="close">X</span>
                            </div>
                        <?php endif ?>
                        <form method="post" class="form" action="<?php echo URL_BASE ?>dashboard/atualizar_dados">
                            <fieldset>
                                <legend>Dados</legend>
                                <input type="hidden" name="id" value="<?php echo $_SESSION['id']; ?>">
                                <span>Email</span>
                                <input type="email" name="email" value="<?php echo $_SESSION['login']; ?>" placeholder="Insira o seu email">
                                <span>Nick</span>
                                <input type="text" name="nick" value="<?php echo $_SESSION['nick']; ?>" placeholder="Informe um nick para seu usuário.">
                                <input type="submit" id="btn-atualizar-dados" name="Alterar dados" value="Alterar dados" class="btn">
                            </fieldset>
                        </form>
                        <form method="post" class="form" action="<?php echo URL_BASE ?>dashboard/atualizar_senha">
                            <fieldset>
                                <legend>Alterar Senha</legend>
                                    <input type="hidden" name="id" value="<?php echo $_SESSION['id']; ?>">
                                    <span>Senha antiga</span>
                                    <input type="password" name="senha_antiga" id="check" value="" placeholder="Insira sua senha">
                                    <div id="nova_senha">
                                        <span>Nova Senha</span>
                                        <input type="password" id="pass1" name="senha" value="" placeholder="Insira sua senha">
                                        <span>Confirmar nova senha</span>
                                        <input type="password" id="pass2" name="confirma" value="" placeholder="Confirme sua senha">
                                        <input type="submit" id="btn-atualizar-senha" disabled="disabled" name="Alterar senha" value="alterar senha" class="btn">
                                    </div>
                            </fieldset>
                        </form>
                        <div>
                            <a href="javascript:history.go(-1)" class="btn-voltar">Voltar</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <?php require 'footer.phtml'; ?>

    <?php echo $this->js_files; ?>
    </body>
</html>