
    <?php require 'header.phtml'; ?>

    <div id="primary">
        <div class="wide">
            <div id="main" class="dashboard">
                <div class="label-layout">
                    <h2 class="title emfont">
                        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard Admin - Alterando dados</a>
                        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
                        <div class="clear"></div>
                    </h2>
                    <div class="clear"></div>
                    <div class="content">
                        <?php if (isset($_QUERY['status'])): ?>
                            <div class="display-msg" id="display-msg">
                                <p><?php echo $this->display[$_QUERY['status']]; ?></p>
                                <span id="close">X</span>
                            </div>
                        <?php endif ?>
                        <form method="post" class="form" action="<?php echo URL_BASE ?>dashboard/atualizar_dados">
                            <fieldset>
                                <legend>Dados</legend>
                                <input type="hidden" name="id" value="<?php echo $usuarios[0]->id; ?>">
                                <span>Email</span>
                                <input type="email" name="email" value="<?php echo $usuarios[0]->email; ?>" placeholder="Insira o seu email">
                                <span>Nick</span>
                                <input type="text" name="nick" value="<?php echo $usuarios[0]->nick; ?>" placeholder="Informe um nick para seu usuário.">
                                <span>Plano</span>
                                <select name="plano" style="height:30px;">
                                    <option value="1"<?php echo ($usuarios[0]->plano == 1)?'selected':''; ?>>Único Mensal      - R$ 2,00</option>
                                    <option value="2" <?php echo ($usuarios[0]->plano == 2)?'selected':''; ?>>Único Semestral   - R$ 11,40</option>
                                    <option value="3" <?php echo ($usuarios[0]->plano == 3)?'selected':''; ?>>Único Anual       - R$ 21,60</option>
                                    <option value="4" <?php echo ($usuarios[0]->plano == 4)?'selected':''; ?>>Grupo Mensal      - R$ 10,00</option>
                                    <option value="5" <?php echo ($usuarios[0]->plano == 5)?'selected':''; ?>>Grupo Semestral   - R$ 57,00</option>
                                    <option value="6" <?php echo ($usuarios[0]->plano == 6)?'selected':''; ?>>Grupo Anual       - R$ 108,00</option>
                                    <option value="7" <?php echo ($usuarios[0]->plano == 7)?'selected':''; ?>>Free - Usuários que cadastram</option>
                                </select>
                                <input type="submit" id="btn-atualizar-dados" name="Alterar dados" value="Alterar dados" class="btn">
                            </fieldset>
                        </form>
                        <form method="post" class="form" action="<?php echo URL_BASE ?>dashboard/atualizar_senha">
                            <fieldset>
                                <legend>Resetar Senha</legend>
                                    <input type="hidden" name="id" value="<?php echo $usuarios[0]->id; ?>">
                                    <span>Nova Senha</span>
                                    <input type="password" id="pass1" name="senha" value="NovaSenha!123" placeholder="Insira sua senha [NovaSenha!123]">
                                    <span>Confirmar nova senha</span>
                                    <input type="password" id="pass2" name="confirma" value="NovaSenha!123" placeholder="Confirme sua senha [NovaSenha!123]">
                                    <input type="submit" id="btn-atualizar-senha" disabled="disabled" name="Alterar senha" value="alterar senha" class="btn">
                            </fieldset>
                        </form>
                        <div>
                            <a href="javascript:history.go(-1)" class="btn-voltar">Voltar</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <?php require 'footer.phtml'; ?>

    <?php echo $this->js_files; ?>
    </body>
</html>