
    <?php require 'header.phtml'; ?>

    <div id="primary">
        <div class="wide">
            <div id="main" class="dashboard">
                <div class="label-layout">
                    <h2 class="title emfont">
                        <a class="label-name" href="<?php echo URL_BASE.'home-cadastro' ?>" title="Utilitários">Dashboard Admin - Cadastrar Arquivos</a>
                        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Usuários online: <?php echo $this->user[0]->contador; ?></a>
                        <a href="#" class="label-target" onclick="window.history.back();">Voltar</a>
                        <div class="clear"></div>
                    </h2>
                    <p style="padding:15px;text-align: justify;width:95%;">Você pode cadastrar documentos que estão salvos na nuvem como arquivos do Google drive, Dropbox, Mega e etc para compartilhar com a comunidade. Além disso também está disponível o cadastro de outras mídias de informação como canais de Youtube, fanpages, imagens, áudios e entre outras coisas sobre RPG.</p>
                    <div class="clear"></div>
                    <div class="content">
                        <form method="post" class="form" action="<?php echo URL_BASE ?>dashboard/atualizar_arquivo/<?php echo $editar_arquivo[0]->id ?>">
                            <input type="hidden" value="<?php echo $editar_arquivo[0]->usuarios->id ?>" name="fk_usuarios">
                            <input type="hidden" value="<?php echo $editar_arquivo[0]->id ?>" name="id">
                            <fieldset>
                                <legend>Novo Arquivo</legend>
                                <?php $alert->update_msg('status','atualizado','nao-atualizado'); ?>
                                <div class="form-item">
                                    <span>Cadastrar...</span>
                                    <select name="tipo_geral" required="required" style="height:30px;" id="tipo_geral">
                                        <option value="">Selecione...</option>
                                        <?php foreach ($helper->tipos_form as $key => $value): ?>
                                            <?php if ($editar_arquivo[0]->tipo_geral == $key): ?>
                                                <option selected="selected" value="<?php echo $key ?>"><?php echo $value ?></option>
                                            <?php else: ?>
                                                <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                            <?php endif ?>
                                        <?php endforeach ?>
                                    </select>
                                </div>
                                <div class="form-item">
                                    <span>Tipo do arquivo</span>
                                    <select name="tipo_documento" required="required" style="height:30px;" id="tipo_documento">
                                        <option value="">Selecione...</option>
                                        <?php foreach ($helper->tipos_midia as $key => $value): ?>
                                            <?php if ($editar_arquivo[0]->tipo_documento == $key): ?>
                                                <option selected="selected" value="<?php echo $key ?>"><?php echo $value ?></option>
                                            <?php else: ?>
                                                <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                            <?php endif ?>
                                        <?php endforeach ?>
                                    </select>
                                </div>
                                <div class="form-item">
                                    <span id="nome">Nome do arquivo (Obrigatório)</span>
                                    <input type="text" name="nome" id="input_nome" value="<?php echo $editar_arquivo[0]->nome ?>" required="required" placeholder="Insira o nome do arquivo aqui">
                                </div>
                                <div class="form-item">
                                    <span>Palavras chave (Obrigatório)</span>
                                    <input type="text" id="keywords" value="<?php echo $editar_arquivo[0]->palavras_chave ?>" name="palavras_chave" required="required" placeholder="Informe as palavras chave aqui separada por vírgula">
                                </div>
                                <div class="form-item">
                                    <span>Sistema de RPG (opcional)</span>
                                    <input list="sistema_rpg" name="sistema_rpg" value="<?php echo $editar_arquivo[0]->sistema_rpg ?>" placeholder="Informe um sistema de RPG associado">
                                    <datalist id="sistema_rpg">
                                        <?php foreach ($helper->select_classes() as $key => $value): ?>
                                            <option value="<?php echo $value ?>"><?php echo $value ?></option>
                                        <?php endforeach ?>
                                    </datalist>
                                </div>
                                <div class="form-item">
                                    <span id="url_img">URL da imagem (opcional)</span>
                                    <input type="text"id="input_url_img" name="url_imagem" value="<?php echo $editar_arquivo[0]->url_imagem ?>" placeholder="Informe uma URL para representar a imagem do documento">
                                </div>
                                <div class="form-item">
                                    <span id="url_doc">URL do documento (Obrigatório)</span>
                                    <input type="text" id="input_url_doc" required="required" value="<?php echo $editar_arquivo[0]->url_documento ?>" name="url_documento" placeholder="Informe a URL do documento">
                                </div>
                                <div class="form-item">
                                    <span id="desc">Descrição (Opcional)</span>
                                    <textarea name="descricao" id="text_desc" placeholder="Descreva aqui alguma informação descritiva do arquivo." style="width:100%;height:80px;"><?php echo $editar_arquivo[0]->descricao ?></textarea>
                                </div>
                                <input type="submit" id="btn-atualizar-dados" value="Editar dados" class="btn">
                            </fieldset>
                            <br>
                        </form>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <?php require 'footer.phtml'; ?>

    <?php echo $this->js_files; ?>
    </body>
</html>