<div class="clear"></div>
<div id="copyright">
	<div class="wide">
		<div class="inner">
			Copyright (c) <?php echo date("Y"); ?> <a href="/">Help RPG</a>. Criado por <a href="/">Maickon Rangel</a> Design by <a href="http://themeforest.net/user/tiennguyenvan/portfolio?ref=tiennguyenvan" target="_blank">Blogger Items</a>
		</div>
	</div>
</div>