<html>
	<head>
		<title><?php echo $this->meta_title; ?></title>
		<link href="https://fonts.googleapis.com/css?kit=e9l7fV-3xzXBO6qidGAzZw" rel="stylesheet" type="text/css">
		<meta http-equiv="Cache-control" content="public">
		<meta http-equiv="Pragma" content="public">
		<link href='<?php echo URL_BASE.'app/assets/img/favicon.ico' ?>' rel='icon' type='image/x-icon'/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="<?php echo $this->meta_description; ?>" />
		<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />
		<meta name="author" content="<?php echo 'Maickon Rangel'; ?>" />
		
		<meta property="og:title" content="<?php echo $this->meta_title; ?>">
		<meta property="og:site_name" content="Help RPG">
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="<?php echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
		<meta property="og:description" content="<?php echo $this->meta_description; ?>">
		<meta property="og:type" content="website">
		<meta property="og:image" content="<?php echo URL_BASE.'app/assets/img/utilitarios.jpg' ?>">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="500">
		<meta property="og:image:height" content="340">

		<?php echo $this->css_files; ?>
	</head>
<body>
<script type="text/javascript">
	var URL_BASE = '<?php echo URL_BASE; ?>';
</script>
<div id="header">
   	<div class="header-inner wide emfont">
      	<div class="table header-menu">
         	<div class="tr">
            	<div class="menu-container td">
               		<div class="crosscol section" id="main-menu">
	                  	<ul class="menu" id="res-menu-1">
	                  		<?php foreach ($this->menu as $key => $value): ?>
		                    	<li class="menu-item">
		                        	<a href="<?php echo $value['url'] ?>"><?php echo $value['nome'] ?></a>
			                    </li>
	                  		<?php endforeach ?>
		                </ul>
                  
	                  	<select class="selectnav" id="selectnav1">
		                    <option value="">≡ Menu</option>
		                    <?php foreach ($this->menu as $key => $value): ?>
		                    	<option value="<?php echo $value['url'] ?>"><?php echo $value['nome'] ?></option>
	                  		<?php endforeach ?>
	                  	</select>
               		</div>
            	</div>
        	</div>
    	</div>
	</div>
	<div class="clear"></div>
</div>