
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				         <a class="label-name" href="<?php echo URL_BASE.'home-cadastro' ?>" title="Utilitários">Dashboard Admin - Arquivos</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Usuários online: <?php echo $this->user[0]->contador; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>

				    <div class="content">
				    	<div>
	                        <div class="form-item" style="width:25%;">
	                            <span>Visualizar...</span>
	                            <select name="tipo_geral" style="height:30px;" id="categorias">
	                                <option value="">Selecione...</option>
	                                <option value="todos">Todos</option>
	                                <?php foreach ($helper->tipos_form as $key => $value): ?>
	                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
	                                <?php endforeach ?>
	                            </select>
	                        </div>
				    		<a href="<?php echo URL_BASE.'cadastrar-arquivos'; ?>" class="ativar-btn">Novo arquivo</a>
				    		<a href="<?php echo URL_BASE.'aventurateca'; ?>" class="ativar-btn">Abrir Aventurateca</a>
				    	</div>
				    	<br>
				    	<table id="tabela-pesquisar" width="100%" class="display">
						    <thead>
						        <tr>
						            <th>Id</th>
						            <th>Categoria</th>
						            <th>Tipo</th>
						            <th>Título</th>
						            <th>Postado em</th>
						            <th>Autor</th>
						            <th>Ação</th>
						        </tr>
						    </thead>
						    <tbody>
						    <?php date_default_timezone_set('America/Sao_Paulo'); ?>
				    		<?php foreach ($arquivos as $key => $value): ?>
						        <tr>
						            <td><?php echo $value->id; ?></td>
						            <td><?php echo ucfirst($value->tipo_geral); ?></td>
						            <td><?php echo ucfirst($value->tipo_documento); ?></td>
						            <td><a href="<?php echo $value->url_documento; ?>" target="blank"><?php echo $value->nome; ?></a></td>
						            <td><?php echo (new DateTime($value->cadastrado))->format('d/m/Y H:i:s'); ?></td>
						            <td><?php echo $value->usuarios->nick; ?></td>
						            <td>
						            	<?php if ($_SESSION['id'] == $value->usuarios->id): ?>
						            	<a href="<?php echo URL_BASE.'dashboard/editar_arquivo/'.$value->id; ?>" class="ativar-btn">Editar</a>
						            	<?php else: ?>
						            	<a href="<?php echo $value->url_documento; ?>" target="blank" class="ativar-btn">Abrir</a>	
						            	<?php endif ?>
						            </td>
						        </tr>
					    	<?php endforeach ?>
						    </tbody>
						</table>
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

	<?php require 'footer.phtml'; ?>

	<?php echo $this->js_files; ?>
	</body>
</html>