	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				     	<div class="descricao">Seus dados</div>
				    	<div class="descricao">
				    		Logado como: <?php echo $_SESSION['login']; ?><br>
				    		Plano escolhido: <?php echo $this->planos[$_SESSION['plano']]; ?><br>
				    		Conta criada em: <?php echo (new DateTime($_SESSION['cadastrado']))->format('d/m/Y H:i:s'); ?> - Acesso liberado em: <?php echo $_SESSION['liberado']; ?><br>
				    	</div>
				    	
				    	<div>
				    		<a href="<?php echo URL_BASE.'dashboard/alterar_dados' ?>" class="link-msg">Editar dados</a>
				    	</div>
				     	<hr>
				    	<div class="post-admin">
				    		<p class="postado"><b><?php echo $mensagens[0]->titulo; ?></b></p>
				    		<?php echo $mensagens[0]->mensagem; ?>
					    	<p class="postado">Postado dia <span><?php echo $mensagens[0]->created_at; ?></span> Por <span><?php echo $mensagens[0]->usuarios->nick; ?></span></p>
				    	</div>
				     	<div class="descricao">Últimas mensagens...</div>
				    	<?php unset($mensagens[0]); $count_msgs = 0; $msgs = array_reverse($mensagens); ?>
				    	<?php foreach ($msgs as $key => $value): ?>
				    		<?php if ($count_msgs <= 5): ?>
						    	<div class="post-admin">
					    			<p class="postado"><b><?php echo $value->titulo; ?></b></p>
						    		<?php echo $value->mensagem; ?>
						    		<p class="postado">Postado dia <span><?php echo (new DateTime($value->created_at))->format('d/m/Y H:i:s'); ?></span> Por <span><?php echo $value->usuarios->nick; ?></span></p>
						    	</div>
				    		<?php endif ?>
				    		<?php $count_msgs++; ?>
				    	<?php endforeach ?>

				    	<div><a href="<?php echo URL_BASE.'dashboard/msg' ?>" class="link-msg" target="blank">Visualizar todas as mensagens...</a></div>
				     
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<?php require 'footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>