
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard Admin</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Usuários online: <?php echo $this->user[0]->contador; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>

				    <div class="content">
				    	<div>
				    		<a href="<?php echo URL_BASE.'dashboard/alterar_dados'; ?>" class="ativar-btn">Atualizar dados</a>
				    		<a href="<?php echo URL_BASE.'dashboard/nova_msg'; ?>" class="ativar-btn">Nova mensagem</a>
				    		<a href="<?php echo URL_BASE.'dashboard/dashboard_admin'; ?>" class="ativar-btn">Gerenciar Usuários</a>
				    	</div>
				    	<br>
				    	<table id="tabela-pesquisar" width="100%" class="display">
						    <thead>
						        <tr>
						            <th>Id</th>
						            <th>Título</th>
						            <th>Postado em</th>
						            <th>Autor</th>
						            <th>Ação</th>
						        </tr>
						    </thead>
						    <tbody>
						    <?php date_default_timezone_set('America/Sao_Paulo'); ?>
				    		<?php foreach ($mensagens as $key => $value): ?>
						        <tr>
						            <td><?php echo $value->id; ?></td>
						            <td><?php echo $value->titulo; ?></td>
						            <td><?php echo (new DateTime($value->created_at))->format('d/m/Y H:i:s'); ?></td>
						            <td><?php echo $value->usuarios->nick; ?></td>
						            <td>
						            	<a href="<?php echo URL_BASE.'dashboard/nova_msg/editar/'.$value->id; ?>" class="ativar-btn">Editar</a>
						            </td>
						        </tr>
					    	<?php endforeach ?>
						    </tbody>
						</table>
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

	<?php require 'footer.phtml'; ?>

	<?php echo $this->js_files; ?>
	</body>
</html>