
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard Admin</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>

				    <div class="content">
				    	<div>
				    		<a href="<?php echo URL_BASE.'dashboard/msg'; ?>" class="ativar-btn">Visualizar mensagens</a>
				    		<a href="<?php echo URL_BASE.'dashboard/dashboard_admin'; ?>" class="ativar-btn">Gerenciar Usuários</a>
				    	</div>
				    	<br>
				    	<?php if (isset($usuario_id[0]->id)):
					    	$url = URL_BASE.'dashboard/atualizar_msg';
				    	else:
				    		$url = URL_BASE.'dashboard/salvar_msg';
				    	endif ?>
				    	<form method="post" action="<?php echo $url; ?>">
				    		<?php if (isset($usuario_id[0]->id)): ?>
					    		<input type="hidden" name="fk_usuarios" value="<?php echo $usuario_id[0]->id; ?>">
					    		<input type="hidden" name="id" value="<?php echo $mensagens[0]->id; ?>">
				    		<?php endif ?>
					    	<div>
						    	<input type="text" style="height:30px; width:100%;" name="titulo" placeholder="Título da mensagem" value="<?php echo isset($mensagens[0]->titulo)?$mensagens[0]->titulo:''; ?>" required>
					    	</div>
						    <textarea id="editor" name="mensagem" required="true"><?php echo isset($mensagens[0]->mensagem)?$mensagens[0]->mensagem:''; ?></textarea>
					    	<div>
					    		<input type="submit" class="ativar-btn" name="salvar" value="<?php echo isset($mensagens[0]->mensagem)?'Atualizar mensagem':'Salvar mensagem'; ?>">
					    	</div>
				    	</form>
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<?php require 'footer.phtml'; ?>

	<?php echo $this->js_files; ?>

	<script type="text/javascript">
		CKEDITOR.replace( 'editor', {
			language: 'pt-br',
			uiColor: '#FFFFFF',
			toolbarCanCollapse: true
		});
	</script>
	</body>
</html>