	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				     	
				    	<div class="post-admin">
				    		<p class="postado"><b><?php echo $mensagens[0]->titulo; ?></b></p>
				    		<?php echo $mensagens[0]->mensagem; ?>
					    	<p class="postado">Postado dia <span><?php echo $mensagens[0]->created_at; ?></span> Por <span><?php echo $mensagens[0]->usuarios->nick; ?></span></p>
				    	</div>
				     
				    	<div>
				    		<a href="<?php echo URL_BASE.'dashboard/msg' ?>" class="link-msg">Voltar para todas as mensagens</a> |
				    		<a href="<?php echo URL_BASE.'dashboard' ?>" class="link-msg">Voltar o dashboard</a>
				    	</div>
				     
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<?php require 'footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>