
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>dashboard" title="Utilitários">Dashboard Admin</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>dashboard">Olá <?php echo $this->user[0]->nick; ?></a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>

				    <div class="content">
				    	<div>
				    		<h3>Todas as mensagens já publicadas</h3>
				    		<a href="<?php echo URL_BASE.'dashboard/'; ?>" class="ativar-btn">Voltar</a>
				    	</div>
				    	<table id="tabela-pesquisar" width="100%" class="display">
						    <thead>
						        <tr>
						            <th>Id</th>
						            <th>Título</th>
						            <th>Postado em</th>
						            <th>Autor</th>
						            <th>Ação</th>
						        </tr>
						    </thead>
						    <tbody>
				    		<?php foreach ($mensagens as $key => $value): ?>
						        <tr>
						            <td><?php echo $value->id; ?></td>
						            <td><?php echo $value->titulo; ?></td>
						            <td><?php echo $value->created_at; ?></td>
						            <td><?php echo $value->usuarios->nick; ?></td>
						            <td>
						            	<a href="<?php echo URL_BASE.'dashboard/visualizar_mensagem/'.$value->id; ?>" class="ativar-btn">Visualizar</a>
						            </td>
						        </tr>
					    	<?php endforeach ?>
						    </tbody>
						</table>
				        <div class="clear"></div>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

	<?php require 'footer.phtml'; ?>

	<?php echo $this->js_files; ?>
	</body>
</html>