<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: mercenarios
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de Missões P/ Mercenários RPG">Missões P/ Mercenários RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Missoes-Para-Mercenarios'; ?>">Sortear</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador sorteia uma missão para mercenários em aventuras de RPG.</p>
        <?php foreach ($trabalhos as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
        		<h3><?php echo $key ?></h3>
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td">
	                  		<p><?php echo ($value); ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>