<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: formulariofichas
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Cadastrar fichas de RPG">Cadastrar fichas de RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Salvar-fichas-de-RPG-online'; ?>">Voltar</a>
        <?php if (isset($_SESSION['personagens']) || isset($_COOKIE)): ?>
            <a class="label-target" href="<?php echo URL_BASE.'formulariofichas/show' ?>" style="margin-left: 15px;"> Ver fichas</a>
        <?php endif ?>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
        <p style="margin: 15px;">Ficha para <?php echo ucfirst($ficha->fichas[$type]); ?>
            <?php if (isset($_QUERY['erro']) and $_QUERY['erro'] == 1): ?>
                <span style="color: red; font-weight: bold;">Chave não encontrada!</span>
            <?php endif ?>
        </p>
        <form method="post" action="<?php echo URL_BASE.'formulariofichas/resgatar' ?>">
            <p style="margin: 15px;">Carregar uma Ficha
                <?php if (isset($_QUERY['chave'])): ?>
                <input type="text" required="true" name="chave" value="<?php echo $_QUERY['chave']; ?>" placeholder="insira a chave da ficha" class="input_size">
                <select name="sistema" required="true">
                    <option value="">Selecione um sistema</option>
                    <?php foreach ($ficha->fichas as $key => $value): ?>
                    <?php if ($key == $type): ?>
                    <option selected="true" value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php else: ?>    
                    <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php endif ?>
                    <?php endforeach ?>
                </select>
                <?php else: ?>
                <input type="text" required="true" name="chave" placeholder="insira a chave da ficha" class="input_size">
                <select name="sistema" required="true">
                    <option value="">Selecione um sistema</option>
                    <?php foreach ($ficha->fichas as $key => $value): ?>
                    <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php endforeach ?>
                </select>
                <?php endif ?>
                <input type="submit" name="carregar" value="Carregar" class="input_size">
            </p>
        </form>
        <?php if ($acao == 'atualizar'): ?>
        <?php $value = 'Atualizar Ficha'; ?>
        <form method="post" action="<?php echo URL_BASE.'atualizar_ficha/' ?>">
        <?php else: ?>
        <?php $value = 'Salvar Ficha'; ?>
        <form method="post" action="<?php echo URL_BASE.'salvar_ficha/' ?>">
        <?php endif ?>
            <p style="margin: 15px;">
            <?php $chave = (isset($ficha_xml))?$ficha_xml->chave:$ficha->unique_code(); ?>
            Chave da ficha: <input type="text" readonly="true" name="chave" class="input_size" value="<?php echo $chave; ?>">
            <input type="submit" name="salvar" value="<?php echo $value; ?>" class="input_size">
            </p>
            <input type="hidden" name="sistema" value="<?php echo $type; ?>">
            <?php require_once 'form/'.$type.'.phtml'; ?>
        </form>
    	<div class="clear"></div>
	</div>
</div>