<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: formulariofichas
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Cadastrar fichas de RPG">Cadastrar fichas de RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <?php if (isset($_SESSION['personagens']) || isset($_COOKIE)): ?>
            <a class="label-target" href="<?php echo URL_BASE.'formulariofichas/show' ?>" style="margin-left: 15px;"> Ver fichas</a>
        <?php endif ?>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Salve suas fichas online no Help RPG!</p>
   		<p style="margin: 15px; text-align: justify;">Cada ficha criada vem com um código de chave que é um código que pertence a sua ficha quando salva. Através deste código você consegue visualizar e editar a sua ficha. Portanto, garde o seu código de ficha para poder resgatá-la.</p>
        <?php foreach ($ficha->fichas as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td" style="width:1%">
	                  		<a href="<?php echo URL_BASE.'formulariofichas/cadastrar/'.$key; ?>" class="item-thumbnail">
	                  			<img src="<?php echo URL_BASE.'app/assets/img/icons/fichas.png'; ?>" alt="item-thumbnail"  style="margin-top: 0px; width: 100%; height: 50px;">
	                  		</a>
	                  	</div>
	                  	<div class="td">
	                  		<a href="<?php echo URL_BASE.'formulariofichas/cadastrar/'.$key; ?>">
	                   			<h3 class="title emfont"><?php echo $value; ?></h3>
	                  		</a>
	                  	</div>
		              </div>
            	 </div>
            </div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>