<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: formulariofichas
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Visualizar suas fichas de RPG">Visualizar suas fichas de RPG</a>
      	<a class="label-target" href="javascript:window.history.go(-1)">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'formulariofichas'; ?>">Sistemas</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Salve suas fichas online no Help RPG!</p>
   		<p style="margin: 15px; text-align: justify;">As fichas que você gerou ficam salvas no seu navegador e são listadas aqui. Aconselho que <b>salve estas informações no seu micro</b> para evitar esquecer a chave dos seus personagens pois caso você apague o histórico do seu navegador, existe a possibilidade dos dados não serem mais exibidos por aqui.</p>
      <?php if (isset($_COOKIE)): ?>
      <?php foreach ($_COOKIE as $key => $value): ?>
      <?php if (substr($key, 0, 11) == 'Personagem_'): ?> 
      <?php $ficha_params = explode('-', $value); ?>      
      <div class="item item-other">
          <div class="inner">
              <h3><?php echo $ficha_params[2]; ?></h3>                
              <div class="table">
                  <div class="tr">
                      <div class="td">
                        <li><?php echo 'Chave:<b>'.$ficha_params[0].'</b>'; ?></li>
                        <li><?php echo 'Sistema:<b><a href="'.URL_BASE.'formulariofichas/cadastrar/'.$ficha_params[1].'?chave='.$ficha_params[0].'">'.$ficha->fichas[$ficha_params[1]].'</a></b>'; ?></li>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <?php endif ?>                   
      <?php endforeach ?>  
      <?php endif ?>
    	<div class="clear"></div>
	</div>
</div>