<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de masmorras RPG">Gerador de masmorras RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-masmorras-para-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Um gerador de masmorras feito através capítulo 5 do livro do mestre de D&D 5e.</p>
   		<p style="margin: 15px; text-align: justify;"><b>Dicas</b>: Use a descrição de cultos e grupos religiosos para identificar o tipo de grupo ou culto na masmorra caso caia culto ou grupo religioso como criador da masmorra.
   		<br>
   		A tendência e classe Pdm não é de uso exclisivo apenas para humanos. Você pode usar estas características para determinar o aspecto de outras pessoas envolvida na masmorra.</p>
        <?php foreach ($masmorra_sorteio as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
        		<h3><?php echo $key; ?></h3>
        		<br>
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td">
	                  		<?php if (is_array($value)): ?>
	                  			<?php foreach ($value as $key1 => $value1): ?>
	                  				<li><?php echo $value1; ?></li>
	                  			<?php endforeach ?>
	                  		<?php else: ?>
	                   		<p><?php echo ($value); ?></p>
	                  		<?php endif ?>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>