<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de aventuras para RPG">Gerador de aventuras para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Imagens meramentes ilustrativas!</p>
        <?php foreach ($adv as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td" style="width:1%">
	                  		<a href="<?php echo URL_BASE.'aventuras/sortear/'.$value; ?>" class="item-thumbnail">
	                  			<img src="<?php echo URL_BASE.'app/assets/img/aventuras/'.$value.'.jpg'; ?>" alt="item-thumbnail"  style="margin-top: 0px; width: 100%; height: 50px;">
	                  		</a>
	                  	</div>
	                  	<div class="td">
	                  		<a href="<?php echo URL_BASE.'aventuras/sortear/'.$value; ?>">
	                   			<h3 class="title emfont"><?php echo ucfirst($value); ?></h3>
	                  		</a>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>