<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de aventuras para RPG">Gerador de aventuras para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-aventuras-para-RPG'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'aventuras/sortear/'.$type; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador de aventuras foi adaptado para utilitário através de um artigo sobre gerar aventuras por sorteio usando tabelas no blog pontos de experiência.</p>       			
        <?php foreach ($aventuras as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table" style="text-align: justify;">
	                <h3><?php echo $key; ?></h3>
	               	<br>
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><?php echo $value; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>  
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>