<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: fichasmonstrostormenta
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de fichas de monstros para Tormenta RPG">Gerador de monstros P/ Tormenta</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'Monstros-para-Tormenta-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Os monstros gerados seguem o padrão descrito no manual de criação de monstros da Tormenta RPG.</p>
        	<div class="inner" style="margin: 15px; text-align: justify;">
        		<div>
		   			<form method="post">
			   			<select name="nivel">
			   				<option value="">Nível</option>
			   				<?php for($i=1; $i<=20; $i++): ?>
							<?php echo '<option value="'.$i.'">'.$i.'</option>'; ?>
			   				<?php endfor; ?>
			   			</select>
			   			<select name="tipo">
			   				<option value="">Tipo</option>
			   				<?php foreach ($monstro->monstro_tipos() as $key => $value): ?>
			   				<option value="<?php echo $key ?>"><?php echo $value; ?></option>
			   				<?php endforeach ?>
			   			</select>

			   			<select name="tamanho">
			   				<option value="">Tamanho</option>
			   				<?php foreach ($monstro->monstro_tamanhos() as $key => $value): ?>
			   				<option value="<?php echo $key ?>"><?php echo $value ?></option>
			   				<?php endforeach ?>
			   			</select>

						
						<select name="forma">
							<option value="">Forma</option>
							<option value="bipide">Bípede</option>
							<option value="quadrupede">Quadrúpede</option>
						</select>
						
			   			<input type="submit" class="btn" name="Nova Ficha" value="Nova Ficha">
                        <input type="button" class="btn" name="Download" value="Exportar imagem" onclick="download('monstro-tormenta-ficha');">
		   			</form>
		   		</div>
		   		<br>
                <div id="monstro-tormenta-ficha">
                    <?php
                    echo "<b>{$monstro->tipo['tipo']} {$monstro->nivel}, {$monstro->tamanho['nome']} {$monstro->tipo_bq}, {$monstro->tendencia} ND {$monstro->nd}</b>";
                    echo '<hr>';
                    echo "<b>Iniciativa {$monstro->modificador($monstro->tamanho['des'])}</b>";
                    echo '<hr>';
                    echo "<b>Classe armadura</b>: {$monstro->ca}";
                    echo '<hr>';
                    echo "<b>Pontos de vida</b>: {$monstro->pv}";
                    echo '<hr>';
                    echo "<b>Resistências</b>: Fort {$monstro->fortitude} Refl {$monstro->reflexos} Vont {$monstro->vontade}";
                    echo '<hr>';
                    echo "<b>Deslocamento</b>: {$monstro->deslocamento_terrestre}m(terrestre),{$monstro->deslocamento_voador}m(voo),{$monstro->deslocamento_escavador}m(escavar),{$monstro->deslocamento_escalador}m(escalar),{$monstro->deslocamento_nadador}m(nadando)";
                    echo '<hr>';
                    echo "<b>Espaço/Alcance</b>: {$monstro->tamanho['espaco']}/{$monstro->tamanho['alcance_nat']}";
                    echo '<hr>';
                    echo "<b>Ataques Corpo-a-Corpo</b>: {$monstro->armas_naturais['mordida']['nome']} {$monstro->ataque} ({$monstro->armas_naturais['mordida']['dano']}{$monstro->modificador($monstro->tamanho['for'])})
                        
                        {$monstro->armas_naturais['garra_ferrao']['nome']} {$monstro->ataque} ({$monstro->armas_naturais['garra_ferrao']['dano']}{$monstro->modificador($monstro->tamanho['for'])})

                        {$monstro->armas_naturais['chifres_cauda']['nome']} {$monstro->ataque} ({$monstro->armas_naturais['chifres_cauda']['dano']}{$monstro->modificador($monstro->tamanho['for'])})

                        {$monstro->armas_naturais['pancada']['nome']} {$monstro->ataque} ({$monstro->armas_naturais['pancada']['dano']}{$monstro->modificador($monstro->tamanho['for'])})
                        ";
                    echo '<hr>';
                    echo "<b>Habilidades</b>: 
                        <b>For</b>  {$monstro->tamanho['for']} {$monstro->modificador($monstro->tamanho['for'])}
                        <b>Des</b>  {$monstro->tamanho['des']} {$monstro->modificador($monstro->tamanho['des'])}
                        <b>Con</b>  {$monstro->tamanho['con']} {$monstro->modificador($monstro->tamanho['con'])}
                        <b>Int</b>  {$monstro->tipo['int']} {$monstro->modificador($monstro->tipo['int'])}
                        <b>Sab</b>  {$monstro->tipo['sab']} {$monstro->modificador($monstro->tipo['sab'])}
                        <b>Car</b>  {$monstro->tipo['car']} {$monstro->modificador($monstro->tipo['car'])}
                        ";
                    echo '<hr>';
                    echo "<b>Talentos</b>: {$monstro->tipo['talentos']} + {$monstro->qtd_talentos} Talentos adicionais";
                    echo '<hr>';
                    $caracteristicas = implode(', ', $monstro->caracteristicas);
                    echo "<b>Características</b>: {$caracteristicas}";
                    echo '<hr>';
                    $habilidades_especiais = implode(',', $monstro->habilidades_especiais);
                    echo "<b>Habilidades especiais</b>: {$habilidades_especiais}";
                    echo '<hr>';
                    echo "<b>Tesouro</b>: {$monstro->tesouro}";
                    echo '<hr>';
                    ?>
                    <br>
                    <a href="#">Ficha gerada pelo helprpg.com.br</a>
                </div>
            </div>
        <div class="clear"></div>
    </div>
</div>