	
	<?php require PATH_BASE.'app/views/aventurateca/header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard" style="width:100%;">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>especial" title="Utilitários">Página Especial</a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				    	<p style="margin: 15px; width:95%;">Na página especial você pode fazer um login temporário para usar o site sem o icômodo das publicidades adfly. Tudo que precisa fazer é preencher seu email.</p>
				    	
				    	<p style="margin: 15px; width:95%;">Feito isso você será redirecionado pela última vez para uma página adfly. Após a espera o site do utilitários RPG ficará livre de links adfly por 1 hora. Se o tempo expirar você poderá fazer login novamemte sempre que precisar.</p>

				    	<p style="margin: 15px; width:95%;">Preencha os dados abaixo e ganhe 1 hora de acesso livre de publicidade.</p>
				    	<form method="post" class="form" action="<?php echo URL_BASE ?>especial/login">
                            <fieldset>
                                <legend>Login temporário</legend>
                                <div class="form-item">
                                    <span id="nome">Seu email (Obrigatório)</span>
                                    <input type="email" name="email" id="email" required="required" placeholder="Informe seu email">
                                </div>
                                <input type="submit" id="btn-atualizar-dados" value="Enviar" class="btn">
                            </fieldset>
                            <br>
                        </form>	
					</div>
				</div>
			</div>	    

			<div class="clear"></div>

			
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>