	
	<?php require PATH_BASE.'app/views/aventurateca/header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard" style="width:100%;">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>especial" title="Utilitários">Página Especial - Links</a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				    	<p style="margin-top: 15px; margin-left:15px; width:95%;">Vou deixar reunido aqui uma lista de links que podem ser úteis para mestres e jogadores.</p>
				    	
				    	<p style="margin-left:15px; width:95%;">A lista começa com algumas postagens do site Help RPG. Mas ao longo do tempo provavelmente estarei atualizando a lista com outros conteúdos que julgar interessante.</p>

				    	<div style="margin-left:15px; width:95%;">   
	                        <ul style="margin-left:25px;">
	                            <li>
	                                <a href="http://www.helprpg.com.br/2018/07/guia-geral-de-tabelas-uteis-para-d-5e.html" target="blank">Tabelas D&D 5e</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2018/06/d-5e-escudo-do-mestre.html" target="blank">Escudo do Mestre! D&D 5E</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2018/07/armas-armaduras-e-equipamentos-d-5e.html" target="blank">Equipamentos D&D 5e</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/09/tabelas-de-itens-e-servicos-para-rpg.html" target="blank">Itens e serviços D&D 3.5</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/09/tabelas-de-aprimoramento-e-materiais.html" target="blank">Materiais D&D 3.5</a>
	                            </li>
	                   
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/08/tabela-de-itens-modernos-para-rpg.html" target="blank">Itens Modernos</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/09/tabela-de-montarias-para-rpg.html" target="blank">Montarias D&D 3.5</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/09/tabela-de-habilidades-magicas-para.html" target="blank">Habilidades mágicas D&D 3.5</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2017/08/tabela-de-armaduras-e-escudos-d-35.html" target="blank">Armaduras & Escudos D&D 3.5</a>
	                            </li>
	                            <li>
	                                <a href="http://www.helprpg.com.br/2018/05/tabela-de-precos-por-bonus-magico-para.html" target="blank">Armas Mágicas D&D 3.5</a>
	                            </li>
	                            <li>
	                                <a href="http://www.oocities.org/hpkbrasil/" target="blank">Diversos arquivos para RPG Vampiro</a>
	                            </li>
	                            <li>
	                                <a href="http://redboxeditora.com.br/2017/wp-content/files/" target="blank">Lista de arquivos PDF gratuitos da RedBox Editora </a>
	                            </li>
	                        </ul>
				    	</div>
				    	
					</div>
				</div>
			</div>	    

			<div class="clear"></div>

			
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>