<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" name="nome">
		</div>

		<div class="box">
    		<div class="span">Defensor</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" name="nome_jogador">
		</div>

		<div class="box">
			<div class="span">Descrição</div>
    		<textarea required="true" style="height: 130px;" name="descricao"><?php echo (isset($ficha_xml))?$ficha_xml->descricao:''; ?></textarea>
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->forca:''; ?>" name="forca">
		</div>

		<div class="box">
			<div class="span">Habilidade</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->habilidade:''; ?>" name="habilidade">
		</div>

		<div class="box">
			<div class="span">Resistência</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->resistencia:''; ?>" name="resistencia">
		</div>

		<div class="box">
			<div class="span">Armadura</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->armadura:''; ?>" name="armadura">
		</div>

		<div class="box">
			<div class="span">Poder de Fogo</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->pdf:''; ?>" name="pdf">
		</div>

		<div class="box">
			<div class="span">Pontos de Vida</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" name="pv">
		</div>
 	</div>
</div>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">Vantagens</div>
    		<textarea required="true" style="height: 130px;" name="vantagens"><?php echo (isset($ficha_xml))?$ficha_xml->vantagens:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Perícias</div>
    		<textarea required="true" style="height: 130px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Equipamentos</div>
    		<textarea required="true" style="height: 150px;" name="equipamentos"><?php echo (isset($ficha_xml))?$ficha_xml->equipamentos:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Inimigo</div>
    		<textarea required="true" style="height: 50px;" name="inimigo"><?php echo (isset($ficha_xml))?$ficha_xml->inimigo:''; ?></textarea>
		</div>
	</div>

	<div class="inner">
		<div class="box">
			<div class="span">Devoção</div>
    		<textarea required="true" style="height: 50px;" name="devocao"><?php echo (isset($ficha_xml))?$ficha_xml->devocao:''; ?></textarea>
		</div>
	</div>
</div>


<div class="clear"></div>
