<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Nome</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Profissão</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->profissao:''; ?>" required="true" name="profissao">
		</div>

		<div class="box">
    		<div class="span">Data de Nascimento</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->data_nascimento:''; ?>" required="true" name="data_nascimento">
		</div>

		<div class="box">
    		<div class="span">Local de Nascimento</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->local_nascimento:''; ?>" required="true" name="local_nascimento">
		</div>

		<div class="box">
    		<div class="span">Sexo</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sexo:''; ?>" required="true" name="sexo">
		</div>

		<div class="box">
    		<div class="span">Altura</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->altura:''; ?>" required="true" name="altura">
		</div>

		<div class="box">
    		<div class="span">Peso</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->peso:''; ?>" required="true" name="peso">
		</div>

		<div class="box">
    		<div class="span">Idade: Aparente</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->idade_aparente:''; ?>" required="true" name="idade_aparente">
		</div>

		<div class="box">
    		<div class="span">Idade: Real</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->idade_real:''; ?>" required="true" name="idade_real">
		</div>

		<div class="box">
    		<div class="span">Idiomas</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->idiomas:''; ?>" required="true" name="idiomas">
		</div>

		<div class="box">
			<div class="span">Descrição</div>
    		<textarea required="true" style="height: 70px;" name="descricao"><?php echo (isset($ficha_xml))?$ficha_xml->descricao:''; ?></textarea>
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Constituição</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->con:''; ?>" required="true" name="con">
		</div>

		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->fr:''; ?>" required="true" name="fr">
		</div>

		<div class="box">
			<div class="span">Destreza</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->des:''; ?>" required="true" name="des">
		</div>

		<div class="box">
			<div class="span">Agilidade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->agi:''; ?>" required="true" name="agi">
		</div>

		<div class="box">
			<div class="span">Inteligência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->int:''; ?>" required="true" name="int">
		</div>

		<div class="box">
			<div class="span">Força de vontade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->will:''; ?>" required="true" name="will">
		</div>

		<div class="box">
			<div class="span">Percepção</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->per:''; ?>" required="true" name="per">
		</div>

		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->car:''; ?>" required="true" name="car">
		</div>

		<div class="box">
			<div class="span">IP</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ip:''; ?>" required="true" name="ip">
		</div>

		<div class="box">
			<div class="span">Nível</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nivel:''; ?>" required="true" name="nivel">
		</div>

		<div class="box">
			<div class="span">Pontos Heróicos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ph:''; ?>" required="true" name="ph">
		</div>

		<div class="box">
			<div class="span">PV</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" required="true" name="pv">
		</div>
 	</div>
</div>

<div class="clear"></div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Aprimoramentos</div>
    		<textarea required="true" style="height: 100px;" name="aprimoramentos"><?php echo (isset($ficha_xml))?$ficha_xml->aprimoramentos:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Perícias com armas</div>
    		<textarea required="true" style="height: 100px;" name="pericias_com_armas"><?php echo (isset($ficha_xml))?$ficha_xml->pericias_com_armas:''; ?></textarea>
		</div>
	</div>
</div>

<div class="clear"></div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Pederes</div>
    		<textarea required="true" style="height: 150px;" name="poderes"><?php echo (isset($ficha_xml))?$ficha_xml->poderes:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Perícias</div>
    		<textarea required="true" style="height: 150px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
		</div>
	</div>
</div>