<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Classe</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->classe:''; ?>" required="true" name="classe">
		</div>

		<div class="box">
    		<div class="span">Raça</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->raca:''; ?>" required="true" name="raca">
		</div>

		<div class="box">
    		<div class="span">Xp atual</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->xp:''; ?>" required="true" name="xp">
		</div>

		<div class="box">
    		<div class="span">Nível</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nivel:''; ?>" required="true" name="nivel">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->for:''; ?>" required="true" name="for">
		</div>

		<div class="box">
			<div class="span">Destreza</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->des:''; ?>" required="true" name="des">
		</div>

		<div class="box">
			<div class="span">Constituição</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->con:''; ?>" required="true" name="con">
		</div>

		<div class="box">
			<div class="span">Inteligência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->int:''; ?>" required="true" name="int">
		</div>

		<div class="box">
			<div class="span">Sabedoria</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sab:''; ?>" required="true" name="sab">
		</div>

		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->car:''; ?>" required="true" name="car">
		</div>
 	</div>
</div>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">PV</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" required="true" name="pv">
		</div>
		<div class="box">
			<div class="span">CA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ca:''; ?>" required="true" name="ca">
		</div>
		<div class="box">
			<div class="span">Iniciativa</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->iniciativa:''; ?>" required="true" name="iniciativa">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Fortitude</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->fort:''; ?>" required="true" name="fort">
		</div>

		<div class="box">
			<div class="span">Vontade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vont:''; ?>" required="true" name="vont">
		</div>

		<div class="box">
			<div class="span">Reflexos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->refl:''; ?>" required="true" name="refl">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Arma</div>
    		<textarea required="true" style="height: 50px;" name="armas"><?php echo (isset($ficha_xml))?$ficha_xml->armas:''; ?></textarea>
		</div>
		<div class="box">
			<div class="span">Armadura</div>
    		<textarea required="true" style="height: 50px;" name="armaduras"><?php echo (isset($ficha_xml))?$ficha_xml->armaduras:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Escudo</div>
    		<textarea required="true" style="height: 50px;" name="escudos"><?php echo (isset($ficha_xml))?$ficha_xml->escudos:''; ?></textarea>
		</div>
		<div class="box">
			<div class="span">Itens</div>
    		<textarea required="true" style="height: 50px;" name="itens"><?php echo (isset($ficha_xml))?$ficha_xml->itens:''; ?></textarea>
		</div>
	</div>
</div>

<div class="clear"></div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Talentos</div>
    		<textarea required="true" style="height: 100px;" name="talentos"><?php echo (isset($ficha_xml))?$ficha_xml->talentos:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Perícias</div>
    		<textarea required="true" style="height: 100px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Magias</span>
	<textarea required="true" style="height: 150px;" name="magias"><?php echo (isset($ficha_xml))?$ficha_xml->magias:''; ?></textarea>
</p>