<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Antecedente</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->antecedente:''; ?>" required="true" name="antecedente">
		</div>

		<div class="box">
    		<div class="span">Classe & Nível</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->classe_nivel:''; ?>" required="true" name="classe_nivel">
		</div>

		<div class="box">
    		<div class="span">Raça</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->raca:''; ?>" required="true" name="raca">
		</div>

		<div class="box">
    		<div class="span">Tendência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->tendencia:''; ?>" required="true" name="tendencia">
		</div>

		<div class="box">
    		<div class="span">XP</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->xp:''; ?>" required="true" name="xp">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->for:''; ?>" required="true" name="for">
		</div>

		<div class="box">
			<div class="span">Destreza</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->des:''; ?>" required="true" name="des">
		</div>

		<div class="box">
			<div class="span">Constituição</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->con:''; ?>" required="true" name="con">
		</div>

		<div class="box">
			<div class="span">Inteligência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->int:''; ?>" required="true" name="int">
		</div>

		<div class="box">
			<div class="span">Sabedoria</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sab:''; ?>" required="true" name="sab">
		</div>

		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->car:''; ?>" required="true" name="car">
		</div>

		<div class="box">
			<div class="span">Inspiração</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->inspiracao:''; ?>" required="true" name="inspiracao">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Traços de Personalidade</span>
	<textarea required="true" style="height: 40px;" name="personalidade"><?php echo (isset($ficha_xml))?$ficha_xml->personalidade:''; ?></textarea>
</p>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">CA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ca:''; ?>" required="true" name="ca">
		</div>
		<div class="box">
			<div class="span">Iniciativa</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->iniciativa:''; ?>" required="true" name="iniciativa">
		</div>
		<div class="box">
			<div class="span">Deslocamento</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->deslocamento:''; ?>" required="true" name="deslocamento">
		</div>
		<div class="box">
			<div class="span">PV</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" required="true" name="pv">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Bônus de Proficiência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->bonus_proficiencia:''; ?>" required="true" name="bonus_proficiencia">
		</div>
		
		<div class="box">
			<div class="span">Ideais</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ideais:''; ?>" required="true" name="ideais">
		</div>

		<div class="box">
			<div class="span">Vínculos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vinculos:''; ?>" required="true" name="vinculos">
		</div>

		<div class="box">
			<div class="span">Defeitos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->defeitos:''; ?>" required="true" name="defeitos">
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Características & Traços</span>
	<textarea required="true" style="height: 40px;" name="caracteristicas_tracos"><?php echo (isset($ficha_xml))?$ficha_xml->caracteristicas_tracos:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Ataques & Conjuração</span>
	<textarea required="true" style="height: 50px;" name="ataques_conjuracao"><?php echo (isset($ficha_xml))?$ficha_xml->ataques_conjuracao:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Equipamentos</span>
	<textarea required="true" style="height: 40px;" name="equipamentos"><?php echo (isset($ficha_xml))?$ficha_xml->equipamentos:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Magias</span>
	<textarea required="true" style="height: 150px;" name="magias"><?php echo (isset($ficha_xml))?$ficha_xml->magias:''; ?></textarea>
</p>