<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" name="nome">
		</div>

		<div class="box">
    		<div class="span">Idade</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->idade:''; ?>" name="idade">
		</div>

		<div class="box">
    		<div class="span">Sexo</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->sexo:''; ?>" name="sexo">
		</div>

		<div class="box">
    		<div class="span">Casa</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->casa:''; ?>" name="casa">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Jogador</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->jogador:''; ?>" name="jogador">
		</div>

		<div class="box">
    		<div class="span">Pontos de Destino</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->pts_destino:''; ?>" name="pts_destino">
		</div>

		<div class="box">
    		<div class="span">Ferimentos</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->ferimentos:''; ?>" name="ferimentos">
		</div>

		<div class="box">
    		<div class="span">Lesões</div>
    		<input type="text" required="true" value="<?php echo (isset($ficha_xml))?$ficha_xml->lesoes:''; ?>" name="lesoes">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Habilidades & Especialidades</span>
	<textarea required="true" style="height: 100px;" name="habiidades_especialidades"><?php echo (isset($ficha_xml))?$ficha_xml->habiidades_especialidades:''; ?></textarea>
</p>

<div class="item-other">
	<div class="inner">
  		<div class="box">
    		<div class="span">Defesa em Integra</div>
    		<input type="text" required="true" placeholder="Astúcia + Percepção + Status" value="<?php echo (isset($ficha_xml))?$ficha_xml->defesa_integra:''; ?>" name="defesa_integra">
		</div>

		<div class="box">
    		<div class="span">Compostura</div>
    		<input type="text" required="true" placeholder="Vontade x 3" value="<?php echo (isset($ficha_xml))?$ficha_xml->compostura:''; ?>" name="compostura">
		</div>

		<div class="box">
    		<div class="span">Movimento</div>
    		<input type="text" required="true" placeholder="4 m + 1 m / 2B em Corrida" value="<?php echo (isset($ficha_xml))?$ficha_xml->movimento:''; ?>" name="movimento">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
    		<div class="span">Defesa em Combate</div>
    		<input type="text" required="true" placeholder="Agilidade + Atletismo + Percepção" value="<?php echo (isset($ficha_xml))?$ficha_xml->defesa_combate:''; ?>" name="defesa_combate">
		</div>

		<div class="box">
    		<div class="span">Saúde</div>
    		<input type="text" required="true" placeholder="Vigor x 3" value="<?php echo (isset($ficha_xml))?$ficha_xml->saude:''; ?>" name="saude">
		</div>

		<div class="box">
    		<div class="span">Corrida</div>
    		<input type="text" required="true" placeholder="Movimento x 4" value="<?php echo (isset($ficha_xml))?$ficha_xml->corrida:''; ?>" name="corrida">
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Qualidades</span>
	<textarea required="true" style="height: 100px;" name="qualidades"><?php echo (isset($ficha_xml))?$ficha_xml->qualidades:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Armas</span>
	<textarea required="true" style="height: 100px;" name="armas"><?php echo (isset($ficha_xml))?$ficha_xml->armas:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Armaduras</span>
	<textarea required="true" style="height: 100px;" name="armaduras"><?php echo (isset($ficha_xml))?$ficha_xml->armaduras:''; ?></textarea>
</p>

<div class="clear"></div>
