<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Pontos Total</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->total_pts:''; ?>" required="true" name="total_pts">
		</div>

		<div class="box">
    		<div class="span">Altura</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->altura:''; ?>" required="true" name="altura">
		</div>

		<div class="box">
    		<div class="span">Peso</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->peso:''; ?>" required="true" name="peso">
		</div>

		<div class="box">
    		<div class="span">Mod. de Tamanho</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->mod_tamanho:''; ?>" required="true" name="mod_tamanho">
		</div>

		<div class="box">
    		<div class="span">Idade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->idade:''; ?>" required="true" name="idade">
		</div>

		<div class="box">
    		<div class="span">Pontos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pontos:''; ?>" required="true" name="pontos">
		</div>
 	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">ST</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->st:''; ?>" required="true" name="st">
		</div>

		<div class="box">
			<div class="span">DX</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->dx:''; ?>" required="true" name="dx">
		</div>

		<div class="box">
			<div class="span">IQ</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->iq:''; ?>" required="true" name="iq">
		</div>

		<div class="box">
			<div class="span">HT</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ht:''; ?>" required="true" name="ht">
		</div>

		<div class="box">
			<div class="span">PV</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" required="true" name="pv">
		</div>

		<div class="box">
			<div class="span">Vont</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vont:''; ?>" required="true" name="vont">
		</div>

		<div class="box">
			<div class="span">Per</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->per:''; ?>" required="true" name="per">
		</div>

		<div class="box">
			<div class="span">PF</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pf:''; ?>" required="true" name="pf">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Aparência</span>
	<textarea required="true" style="height: 50px;" name="aparencia"><?php echo (isset($ficha_xml))?$ficha_xml->aparencia:''; ?></textarea>
</p>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">BASE DE CARGA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->base_carga:''; ?>" required="true" name="base_carga">
		</div>
		<div class="box">
			<div class="span">VEL. BÁSICA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vel_basica:''; ?>" required="true" name="vel_basica">
		</div>
		<div class="box">
			<div class="span">DANO GdP</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->dano_gdp:''; ?>" required="true" name="dano_gdp">
		</div>
		<div class="box">
			<div class="span">GeB</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->geb:''; ?>" required="true" name="geb">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">DESL. BÁSICO</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->desl_basico:''; ?>" required="true" name="desl_basico">
		</div>
		<div class="box">
			<div class="span">RD</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->rd:''; ?>" required="true" name="rd">
		</div>
		<div class="box">
			<div class="span">APARAR</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->aparar:''; ?>" required="true" name="aparar">
		</div>
		<div class="box">
			<div class="span">BLOQUEIO</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->bloqueio:''; ?>" required="true" name="bloqueio">
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Vantagens & Qualidades</span>
	<textarea required="true" style="height: 80px;" name="vantagens_qualidades"><?php echo (isset($ficha_xml))?$ficha_xml->vantagens_qualidades:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Desvantagens & Peculiaridades</span>
	<textarea required="true" style="height: 50px;" name="desvantagens_peculiaridades"><?php echo (isset($ficha_xml))?$ficha_xml->desvantagens_peculiaridades:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Linguas</span>
	<textarea required="true" style="height: 30px;" name="linguas"><?php echo (isset($ficha_xml))?$ficha_xml->linguas:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Familiaridades Culturais</span>
	<textarea required="true" style="height: 30px;" name="linguas"><?php echo (isset($ficha_xml))?$ficha_xml->linguas:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Modificadores de Reação</span>
	<textarea required="true" style="height: 40px;" name="mod_reacao"><?php echo (isset($ficha_xml))?$ficha_xml->mod_reacao:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Perícias</span>
	<textarea required="true" style="height: 150px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
</p>