<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Classe</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->classe:''; ?>" required="true" name="classe">
		</div>

		<div class="box">
    		<div class="span">Experiência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->experiencia:''; ?>" required="true" name="experiencia">
		</div>

		<div class="box">
    		<div class="span">Próximo nível</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->prox_nivel:''; ?>" required="true" name="prox_nivel">
		</div>
 	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Nível</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nivel:''; ?>" required="true" name="nivel">
		</div>

		<div class="box">
			<div class="span">Pvs</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pvs:''; ?>" required="true" name="pvs">
		</div>

		<div class="box">
			<div class="span">CA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ca:''; ?>" required="true" name="ca">
		</div>

		<div class="box">
			<div class="span">Resistência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->resistencia:''; ?>" required="true" name="resistencia">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Descrição do Personagem</span>
	<textarea required="true" style="height: 50px;" name="descricao"><?php echo (isset($ficha_xml))?$ficha_xml->descricao:''; ?></textarea>
</p>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">Habilidade Especial</div>
    		<textarea required="true" style="height: 130px;" name="hab_especial"><?php echo (isset($ficha_xml))?$ficha_xml->hab_especial:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Equipamento</div>
    		<textarea required="true" style="height: 130px;" name="equipamento"><?php echo (isset($ficha_xml))?$ficha_xml->equipamento:''; ?></textarea>
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Ataque</span>
	<textarea required="true" style="height: 25px;" name="ataque"><?php echo (isset($ficha_xml))?$ficha_xml->ataque:''; ?></textarea>
</p>

<div class="clear"></div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Magias Conhecidas</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->magias_conhecidas:''; ?>" required="true" name="magias_conhecidas">
		</div>
 	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Magias por dia</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->magias_por_dia:''; ?>" required="true" name="magias_por_dia">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Anotações</span>
	<textarea required="true" style="height: 80px;" name="anotacoes"><?php echo (isset($ficha_xml))?$ficha_xml->anotacoes:''; ?></textarea>
</p>

<div class="clear"></div>