<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Nome Verdadeiro</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_verdadeiro:''; ?>" required="true" name="nome_verdadeiro">
		</div>

		<div class="box">
    		<div class="span">Nível de Poder</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nivel_de_poder:''; ?>" required="true" name="nivel_de_poder">
		</div>

		<div class="box">
    		<div class="span">Ocupação</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ocupacao:''; ?>" required="true" name="ocupacao">
		</div>

		<div class="box">
    		<div class="span">Identidade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->identidade:''; ?>" required="true" name="identidade">
		</div>

		<div class="box">
    		<div class="span">Altura</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->altura:''; ?>" required="true" name="altura">
		</div>

		<div class="box">
    		<div class="span">Peso</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->peso:''; ?>" required="true" name="peso">
		</div>

		<div class="box">
    		<div class="span">Olhos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->olhos:''; ?>" required="true" name="olhos">
		</div>

		<div class="box">
    		<div class="span">Cabelos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->cabelos:''; ?>" required="true" name="cabelos">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->for:''; ?>" required="true" name="for">
		</div>

		<div class="box">
			<div class="span">Destreza</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->des:''; ?>" required="true" name="des">
		</div>

		<div class="box">
			<div class="span">Constituição</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->con:''; ?>" required="true" name="con">
		</div>

		<div class="box">
			<div class="span">Inteligência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->int:''; ?>" required="true" name="int">
		</div>

		<div class="box">
			<div class="span">Sabedoria</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sab:''; ?>" required="true" name="sab">
		</div>

		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->car:''; ?>" required="true" name="car">
		</div>

		<div class="box">
			<div class="span">Resistência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->resistencia:''; ?>" required="true" name="resistencia">
		</div>

		<div class="box">
			<div class="span">Fortitude</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->fortitude:''; ?>" required="true" name="fortitude">
		</div>

		<div class="box">
			<div class="span">Reflexo</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->reflexo:''; ?>" required="true" name="reflexo">
		</div>

		<div class="box">
			<div class="span">Vontade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vontade:''; ?>" required="true" name="vontade">
		</div>
 	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Perícias</span>
	<textarea required="true" style="height: 50px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Feitos</span>
	<textarea required="true" style="height: 50px;" name="feitos"><?php echo (isset($ficha_xml))?$ficha_xml->feitos:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Combate</span>
	<textarea required="true" style="height: 50px;" name="combate"><?php echo (isset($ficha_xml))?$ficha_xml->combate:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Desvantagens</span>
	<textarea required="true" style="height: 50px;" name="desvantagens"><?php echo (isset($ficha_xml))?$ficha_xml->desvantagens:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Poderes</span>
	<textarea required="true" style="height: 150px;" name="poderes"><?php echo (isset($ficha_xml))?$ficha_xml->poderes:''; ?></textarea>
</p>