<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Conceito</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->conceito:''; ?>" required="true" name="conceito">
		</div>

		<div class="box">
    		<div class="span">Cenário</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->cenario:''; ?>" required="true" name="cenario">
		</div>

		<div class="box">
    		<div class="span">Frase</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->frase:''; ?>" required="true" name="frase">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->forca:''; ?>" required="true" name="forca">
		</div>

		<div class="box">
			<div class="span">Agilidade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->agilidade:''; ?>" required="true" name="agilidade">
		</div>

		<div class="box">
			<div class="span">Astúcia</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->astucia:''; ?>" required="true" name="astucia">
		</div>

		<div class="box">
			<div class="span">Espírito</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->espirito:''; ?>" required="true" name="espirito">
		</div>

		<div class="box">
			<div class="span">Vigor</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vigor:''; ?>" required="true" name="vigor">
		</div>
 	</div>
</div>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">Movimentação</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->movimentacao:''; ?>" required="true" name="movimentacao">
		</div>
		<div class="box">
			<div class="span">Aparar</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->aparar:''; ?>" required="true" name="aparar">
		</div>
		<div class="box">
			<div class="span">Resistência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->resistencia:''; ?>" required="true" name="resistencia">
		</div>
		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->carisma:''; ?>" required="true" name="carisma">
		</div>
		<div class="box">
			<div class="span">Lesões Permanentes</div>
    		<textarea required="true" style="height: 90px;" name="lesoes_permanentes"><?php echo (isset($ficha_xml))?$ficha_xml->lesoes_permanentes:''; ?></textarea>
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Complicações</div>
    		<textarea required="true" style="height: 125px;" name="complicacoes"><?php echo (isset($ficha_xml))?$ficha_xml->complicacoes:''; ?></textarea>
		</div>
		<div class="box">
			<div class="span">Vantagens</div>
    		<textarea required="true" style="height: 125px;" name="vantagens"><?php echo (isset($ficha_xml))?$ficha_xml->vantagens:''; ?></textarea>
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Progresso</span>
	<textarea required="true" style="height: 180px;" name="progresso"><?php echo (isset($ficha_xml))?$ficha_xml->progresso:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Armas & Poderes</span>
	<textarea required="true" style="height: 140px;" name="armas_poderes"><?php echo (isset($ficha_xml))?$ficha_xml->armas_poderes:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Armadura & Equipamento</span>
	<textarea required="true" style="height: 100px;" name="armadura_equipamento"><?php echo (isset($ficha_xml))?$ficha_xml->armadura_equipamento:''; ?></textarea>
</p>