<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Personagem</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome:''; ?>" required="true" name="nome">
		</div>

		<div class="box">
    		<div class="span">Jogador</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->nome_jogador:''; ?>" required="true" name="nome_jogador">
		</div>

		<div class="box">
    		<div class="span">Raça</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->raca:''; ?>" required="true" name="raca">
		</div>

		<div class="box">
    		<div class="span">Classe</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->classe:''; ?>" required="true" name="classe">
		</div>

		<div class="box">
    		<div class="span">Tendência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->tendencia:''; ?>" required="true" name="tendencia">
		</div>

		<div class="box">
    		<div class="span">Sexo</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sexo:''; ?>" required="true" name="sexo">
		</div>

		<div class="box">
    		<div class="span">Idade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->idade:''; ?>" required="true" name="idade">
		</div>

		<div class="box">
    		<div class="span">Divindade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->divindade:''; ?>" required="true" name="divindade">
		</div>

		<div class="box">
    		<div class="span">Tamanho</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->tamanho:''; ?>" required="true" name="tamanho">
		</div>

		<div class="box">
    		<div class="span">Deslocamento</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->deslocamento:''; ?>" required="true" name="deslocamento">
		</div>
 	</div>
</div>
	
<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Força</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->for:''; ?>" required="true" name="for">
		</div>

		<div class="box">
			<div class="span">Destreza</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->des:''; ?>" required="true" name="des">
		</div>

		<div class="box">
			<div class="span">Constituição</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->con:''; ?>" required="true" name="con">
		</div>

		<div class="box">
			<div class="span">Inteligência</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->int:''; ?>" required="true" name="int">
		</div>

		<div class="box">
			<div class="span">Sabedoria</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->sab:''; ?>" required="true" name="sab">
		</div>

		<div class="box">
			<div class="span">Carisma</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->car:''; ?>" required="true" name="car">
		</div>

		<div class="box">
			<div class="span">PV</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pv:''; ?>" required="true" name="pv">
		</div>

		<div class="box">
			<div class="span">CA</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ca:''; ?>" required="true" name="ca">
		</div>

		<div class="box">
			<div class="span">Pontos de Ação</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pts_acao:''; ?>" required="true" name="pts_acao">
		</div>

		<div class="box">
			<div class="span">Redução de Dano</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->rd:''; ?>" required="true" name="rd">
		</div>
 	</div>
</div>

<div class="clear"></div>
	
<div class="item-other">
	<div class="inner">
  		<div class="box">
			<div class="span">Ataque corpo-a-corpo</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ataque_corpo_a_corpo:''; ?>" required="true" name="ataque_corpo_a_corpo">
		</div>
		<div class="box">
			<div class="span">Ataque distância</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->ataque_distancia:''; ?>" required="true" name="ataque_distancia">
		</div>
		<div class="box">
			<div class="span">Pontos de Magia</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->pm:''; ?>" required="true" name="pm">
		</div>
	</div>
</div>

<div class="item-other">
	<div class="inner">
		<div class="box">
			<div class="span">Fortitude</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->fort:''; ?>" required="true" name="fort">
		</div>

		<div class="box">
			<div class="span">Vontade</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->vont:''; ?>" required="true" name="vont">
		</div>

		<div class="box">
			<div class="span">Reflexos</div>
    		<input type="text" value="<?php echo (isset($ficha_xml))?$ficha_xml->refl:''; ?>" required="true" name="refl">
		</div>
	</div>
</div>

<div class="clear"></div>

<p class="large">
	<span class="span">Armas</span>
	<textarea required="true" style="height: 60px;" name="armas"><?php echo (isset($ficha_xml))?$ficha_xml->armas:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Armadura/Ecudo</span>
	<textarea required="true" style="height: 60px;" name="armadura_escudo"><?php echo (isset($ficha_xml))?$ficha_xml->armadura_escudo:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Perícias</span>
	<textarea required="true" style="height: 100px;" name="pericias"><?php echo (isset($ficha_xml))?$ficha_xml->pericias:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Talentos</span>
	<textarea required="true" style="height: 120px;" name="talentos"><?php echo (isset($ficha_xml))?$ficha_xml->talentos:''; ?></textarea>
</p>

<div class="clear"></div>

<p class="large">
	<span class="span">Magias</span>
	<textarea required="true" style="height: 150px;" name="magias"><?php echo (isset($ficha_xml))?$ficha_xml->magias:''; ?></textarea>
</p>