<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Dados para RPG">Dados para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table">
            		<?php foreach ($dados_img as $key => $value): ?>        			
	               		<div class="tr">
	                  		<div class="td" style="width:1%">
	                  			<a href="<?php echo URL_BASE.'dados/rolar/6/'.$value; ?>" class="item-thumbnail">
	                  				<img src="<?php echo URL_BASE.'app/assets/img/dice/'.$value.'.png'; ?>" alt="item-thumbnail"  style="margin-top: 0px; width: 100%; height: 50px;">
	                  			</a>
	                  		</div>
	                  		<div class="td">
	                     		<h3 class="title emfont">Rolar+</h3>
	                     		<form method="post" action="<?php echo URL_BASE.'dados/rolar/'.$value; ?>">
	                     		<input type="text" name="qtd" value="1" style="width: 50px;">
	                     		<input type="submit" name="rolar" value="rolar">
	                     		</form>
	                  		</div>
		                  	<div class="td">
		                  		<?php if (isset($resultados) and $value == $dado): ?>
		                    	<h3 class="title emfont" style="margin-left: 5px;">
		                    		<b>Total:</b> <span id="dados-resultado-<?php echo $value; ?>"><?php echo $total; ?></span>
		                    
		                    		<b>Maior:</b> <span id="dados-resultado-<?php echo $value; ?>"><?php echo $maior; ?></span>
		                    
		                    		<b>Menor:</b> <span id="dados-resultado-<?php echo $value; ?>"><?php echo $menor; ?></span>
		                    
		                    		<b>Média:</b> <span id="dados-resultado-<?php echo $value; ?>"><?php echo $media; ?></span>

		                    		<b>Total descartando o menor:</b> <span id="dados-resultado-<?php echo $value; ?>"><?php echo $total_menor_desc; ?></span>
		                    	</h3>
	                     		<div id="dados-rolagens-<?php echo $value; ?>" style="margin-left: 5px;">
	                     		<label>
	                     			<?php 
	                     			foreach ($resultados as $key => $value):
	                     				echo $value." ";
	                     			endforeach 
	                     			?>
	                     		</label>
								</div>
		                  		<?php endif ?>
			               	</div>
		               	</div>
		               	<br>
            		<?php endforeach ?>
            	</div>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>