<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de sorte RPG">Gerador de sorte RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-sorte-para-RPG/'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Você pode sortear a sorte de um personagem jogador ou NPc quando um vidente tentar descobrir o seu futuro.</p>
   		<p style="margin: 15px;">Clique em <b>sortear</b> para gerar uma nova sorte.</p>
        <?php foreach ($sorte_gerada as $key => $value): ?>        			
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
        		<h3><?php echo $key; ?></h3>
        		<br>
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td">
	                  		<?php foreach ($value as $key2 => $value2): ?>
	                  			<li><?php echo $value2 ?></li>
	                  		<?php endforeach ?>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>