<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de tesouros D&D 5e RPG">Gerador de tesouros RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-tesouros-para-Dungeons-and-Dragons-5e'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'tesouros/sortear/'.$type; ?>">Sortear tesouro</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Gerador de tesouros criado a partir do livro do mestre de D&D 5e.</p>  
      <?php if (isset($tipos_de_tesouro[$type])): ?>
      <?php foreach ($tesouros as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table">
	                <h3>Tesouro Individual ND <?php echo $value['nivel']; ?></h3>
	               	<br>
	               	<div class="tr">
                  	<div class="td">
                   		<p><?php echo $value['valor'].' '.$value['moeda']; ?></p>
                  	</div>
		          </div>
            </div>
         </div>
      </div>  
      <?php endforeach ?>
      <?php elseif($type == 'Gemas'): ?>
      <div class="item" style="margin: 15px;">
          <div class="inner">
              <div class="table">
                  <h3><?php echo $type; ?></h3>
                  <br>
                  <div class="tr">
                    <div class="td">
                      <?php foreach ($tesouros as $key => $value): ?>
                        <li><?php echo $value; ?></li>
                      <?php endforeach ?>
                    </div>
              </div>
            </div>
         </div>
      </div>  
      <?php elseif($type == 'Objetos de arte'): ?>
      <div class="item" style="margin: 15px;">
          <div class="inner">
              <div class="table">
                  <h3><?php echo $type; ?></h3>
                  <br>
                  <div class="tr">
                    <div class="td">
                      <?php foreach ($tesouros as $key => $value): ?>
                        <li><?php echo $value; ?></li>
                      <?php endforeach ?>
                    </div>
              </div>
            </div>
         </div>
      </div>  
      <?php else: ?>
      <?php foreach ($tesouros as $key => $value): ?>
      <div class="item item-1 item-other">
          <div class="inner">
              <div class="table">
                  <h3><?php echo $type; ?></h3>
                  <br>
                  <div class="tr">
                    <div class="td">
                      <p><?php echo $value['qtd'].' '.$value['itens']; ?></p>
                      <?php foreach ($value['itens_magicos'] as $key => $value): ?>
                        <li><?php echo $value; ?></li>
                      <?php endforeach ?>
                    </div>
              </div>
            </div>
         </div>
      </div>  
      <?php endforeach ?>           
      <?php endif ?>      
    	<div class="clear"></div>
	</div>
</div>