<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: fichastormenta
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de fichas Tormenta RPG">Gerador de fichas Tormenta RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Fichas-para-Tormenta-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Gerador de fichas para Tormenta RPG. Todas as estatísticas da ficha estão baseadas nas regras do livro da Tormenta.</p>
   		<div style="margin: 15px;">
   			<form method="post">
	   			<select name="classe">
	   				<option value="">Classe</option>
	   				<?php foreach ($f->classes as $key => $value): ?>
	   				<option value="<?php echo $key ?>"><?php echo $value['nome']; ?></option>
	   				<?php endforeach ?>
	   			</select>

	   			<select name="raca">
	   				<option value="">Raça</option>
	   				<?php foreach ($f->lista_de_racas as $key => $value): ?>
	   				<option value="<?php echo $value['arquivo'] ?>"><?php echo $value['nome'] ?></option>
	   				<?php endforeach ?>
	   			</select>

	   			<select name="nivel">
	   				<option value="">Nível</option>
	   				<?php for($i=1; $i<=20; $i++): ?>
					<?php echo '<option value="'.$i.'">'.$i.'</option>'; ?>
	   				<?php endfor; ?>
	   			</select>
				
				<select name="tipo_rolagem">
					<option value="">Tipo de rolagem</option>
					<option value="padrao">Padrão</option>
					<option value="classica">Clássica</option>
					<option value="heroica">Heróica</option>
					<option value="audaciosa">Audaciosa</option>
				</select>
				
	   			<input type="submit" class="btn" name="Nova Ficha" value="Nova Ficha">
   			</form>
	   		
	   		<input type="button" class="btn" name="Download" value="Exportar imagem" onclick="download('ficha-tormenta-rpg');">
   		</div>			
   		<div class="item item-other" id="ficha-tormenta-rpg">
        	<div class="inner">
			<?php 

			echo '<div style="text-align: justify;">';
			echo '<hr>';
			echo "<b>Nome</b> {$f->nome} <b>Nível</b> {$f->nivel} <b>Classe</b> {$f->classes[$f->classe]['nome']} <b>Raça</b> {$f->ajustes_raciais['raca']} <b>Tendência</b> {$f->tendencia}";
			echo '<hr>';
			echo "<b>PV</b> {$f->pv} <b>CA</b> {$f->ca}";
			echo '<hr>';
			foreach($f->habilidades_basicas as $key => $value){
				if ($key != 'nul') {
					$hab = ucfirst($key);
					$mod = $f->modificador($value);
					echo "<b>{$hab}</b> {$value}{$mod} ";
				}
			}
			echo '<hr>';
			echo "<b>Fortitude</b> +{$f->testes_resistencia['fort']} <b>Vontade</b> +{$f->testes_resistencia['vont']} <b>Reflexos</b> +{$f->testes_resistencia['refl']}";

			echo '<hr>';
			echo "<b>BBA</b> {$f->tabela_de_classe[$f->nivel-1]['bba']} <b>Ataque corpo a corpo</b> 1d20+{$f->ataques['corpo_a_corpo']} <b>Ataque à distância</b> 1d20+{$f->ataques['distancia']} <b>Dano</b> {$f->ataques['dano']}";

			if ($f->detalhes_de_magias != null) {
				echo '<hr>';
				echo "<b>Hab chave</b>: {$f->detalhes_de_magias[$f->classe]['hab_chave']} ";
				echo "<b>PM</b>: {$f->detalhes_de_magias[$f->classe]['pm']} ";
				echo "<b>Magias conhecidas:</b> ";
				foreach ($f->detalhes_de_magias[$f->classe]['magias_conhecidas'] as $key => $value) {
					echo "<b><i>nível {$key}</i></b>: {$value}, ";
				}
				echo '<b>Círculo Mágico Máximo</b>: '.$f->detalhes_de_magias[$f->classe]['circulo_maximo'];
				echo '<b> Tipo</b>: '.ucfirst($f->detalhes_de_magias[$f->classe]['tipo']);
			}

			echo '<hr>';
			echo '<b>Talentos de classe:</b> ';
			echo($f->tabela_de_classe[$f->nivel-1]['especial']);

			echo '<hr>';
			echo '<b>Talentos base:</b> ';
			echo($f->classes[$f->classe]['talentos_add']);

			echo '<hr>';
			echo '<b>Talentos escolidos: </b> ';
			if (empty($f->talentos_selecionados)) {
				echo '-';
			} else {
				$start_key = $f->qtd_talentos_add;
				foreach ($f->talentos_selecionados as $key => $value) {
					if ($key >= $start_key) {
						echo "{$value['nome']}";
						if (end($f->talentos_selecionados) != $value) {
							echo ', ';
						}
					}
				}
			}

			echo '<hr>';
			echo '<b>Perícias: </b> ';
			foreach ($f->pericias as $key => $value) {
				echo "{$value['nome']} {$value['total']}";
				if (end($f->pericias) != $value) {
					echo ', ';
				}
			}

			echo '<hr>';
			if (is_array($f->armas_equipadas)) {
				echo '<b>Armas: </b> ';
				foreach ($f->armas_equipadas as $key => $value) {
					echo "{$value['nome']} {$value['dano']}+{$f->ataques['dano']} <i>Crítico:{$value['critico']}</i>";
					if (end($f->armas_equipadas) != $value) {
						echo ', ';
					}
				}
			}

			if ($f->escudos_equipados != null) {
				echo '<hr>';
				echo '<b>Escudos: </b> ';
				echo "{$f->escudos_equipados['nome']} CA{$f->escudos_equipados['bonus_na_ca']} Valor {$f->escudos_equipados['custo']} Penalidade {$f->escudos_equipados['penalidade']}";
			}

			if ($f->armaduras_equipadas != null) {
				echo '<hr>';
				echo '<b>Armaduras: </b> ';
				echo "{$f->armaduras_equipadas['nome']} CA{$f->armaduras_equipadas['bonus_na_ca']} Valor {$f->armaduras_equipadas['custo']} Penalidade {$f->armaduras_equipadas['penalidade']}";
			}

			echo '<hr>';
			echo '<b>Características Raciais: </b> ';
			echo $f->ajustes_raciais['descricao'];
			echo '<br><b>Ajustes</b> ';
			foreach ($f->ajustes_raciais['ajustes'] as $key => $value) {
				echo "<b>".ucfirst($value['hab'])."</b> {$value['bonus']} ";
			}
			echo '<br>';
			echo "<b>Legendas: </b><i>A letra <b>n</b> antes do nome da habilidade indica que esta habilidade não pode receber o bônus. Ex: <b>Nfor</b> +2 (Pode ser qualquer habilidade menos a força). <b>+Xxx</b> indica que pode ser qualquer habilidade a sua escolha.</i>
				<br><i>As descrições de características raciais não foram ajustados na ficha. Somente os ajustes de habilidades básicas foram ajustados.</i>";

			if ($f->magias_conhecidas != null) {
				echo '<hr>';
				echo '<b>Magias</b>';
				echo '<br>';
				echo '<br>';
				foreach ($f->magias_selecionadas as $key => $value) {
					echo "<b>{$key}° Círculo</b>: <br>";
					if (is_array($value)) {
						foreach ($value as $key => $value) {
							$magia = explode(':', $value);
							echo "<b>{$magia[0]}</b>: <i>{$magia[1]}</i> ";
						}
					} else {
						echo $value;
					}
					echo '<br>';
					echo '<br>';
				}
			}
			echo '</div>';

			echo '<br>';
			?>
			<a href="#">Ficha gerada pelo helprpg.com.br</a>
			</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>