<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de encontros de monstros D&D 5e RPG">Encontro de monstros D&D 5e RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-encontros-de-monstros-por-ambiente-para-Dungeons-and-Dragons-5e'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Sorteio de possíveis encontros de monstros com base em ambiente para D&D 5e. </p>
   		<form method="post">
	   		<select style="margin: 15px;" name="ambiente">
	   			<option value="">Ambiente</option>
	   			<?php foreach ($ambientes as $key => $value): ?>
	   			<option value="<?php echo $value ?>"><?php echo ucfirst($value); ?></option>
	   			<?php endforeach ?>
	   		</select>
	   		<input type="submit" name="sortear" value="Sortear Monstros">
   		</form>
    	<div class="clear"></div>

      <?php foreach ($monstros_sorteados as $key => $value): ?>        			
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
            <h3><?php echo ucfirst($value['nome']); ?></h3>
              <div class="table">
                  <div class="tr">
                      <div class="td">
        		            <p><?php echo 'Ambiente '.$monstro->ambientes[$ambiente]; ?></p>
	                  		<p><?php echo '<b> ND </b>'.$value['nd'].' <b>XP </b>'.$value['xp']; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>