<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de nomes de espadas RPG">Gerador de nomes de espadas RPG</a>
        <a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-nome-de-espadas-para-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Nomes de espadas para RPG!</p>
        <?php foreach ($first_name as $key => $value): ?>        			
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td">
	                   	 <h2><?php echo ucfirst($value).' '.$second_name[$key]; ?></h2>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>