<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: encontros
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de Encontros RPG">Encontros RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-encontros-aleatórios-para-RPG'; ?>">Sortear</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador sorteia encontros aleatórios e permite a escolha de um tipo de ambiente.</p>

   		<form method="post" action="<?php echo URL_BASE.'encontros'; ?>">
   			<select name="ambiente" style="margin: 15px;">
	   		<option value="">Selecione</option>
	   		<?php foreach ($encontros->ambientes as $key => $value): ?>
	   		<option value="<?php echo $key; ?>"><?php echo $value; ?></option>
	   		<?php endforeach ?>
	   		</select>
	   		<input type="submit" class="btn" name="Sortear" value="Sortear encontro">
   		</form>
   		
   		<div class="item item-other">
        	<div class="inner">
            	<div class="table" style="text-align: justify;">
        			<h3><?php echo $encontros->ambientes[$ambiente]; ?></h3>
        			<br>
	               	<div class="tr">
	                  	<div class="td">
	                  		<p><?php echo ($encontro); ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>