<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: aventurassolo
-->
<script type="text/javascript" src="<?php echo URL_BASE; ?>app/assets/js/ckeditor/ckeditor.js"></script>
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Aventuras solo para RPG">Aventuras Solo</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Desenvolva uma aventura solo. Começe preenchendo os dados abaixo.</p>
        <?php if (isset($partes_aventura)) { ?>
        	<p class="aventurassolo_descricao">Partes da aventura</p>
	        <div style="margin: 15px;" class="aventurasolo_partes">
	        <?php foreach ($partes_aventura as $key => $value) {
	        	echo "<a href=\"{$value['url']}\" class=\"aventurasolo_parte\">{$value['titulo']}</a>";
	        }?>
	        </div>
        <?php }?>
        <form action="<?php echo URL_BASE;?>aventurassolo/salvar/" method="post">
        	<input type="hidden" name="tipo" value="<?php echo isset($file)?$file->tipo:'introducao'; ?>">
        	<input type="hidden" name="id_aventura" id="id_aventura" value="<?php echo isset($file)?$file->id_aventura:sha1(uniqid()); ?>">
        	<input type="hidden" name="id_arquivo" id="id_arquivo" value="<?php echo isset($file)?$file->id_arquivo:sha1(uniqid()); ?>">

        	<input type="hidden" name="id1" id="id1" value="<?php echo isset($file)?$file->id1:sha1(uniqid()); ?>">
        	<input type="hidden" name="id2" id="id2" value="<?php echo isset($file)?$file->id2:sha1(uniqid()); ?>">
        	<input type="hidden" name="id3" id="id3" value="<?php echo isset($file)?$file->id3:sha1(uniqid()); ?>">
        	<input type="hidden" name="id4" id="id4" value="<?php echo isset($file)?$file->id4:sha1(uniqid()); ?>">
        	<input type="hidden" name="id5" id="id5" value="<?php echo isset($file)?$file->id5:sha1(uniqid()); ?>">

	        <div class="item-other">
				<div class="inner">
					<div class="box">
						<div class="span">Autor</div>
			    		<input type="text" value="<?php echo isset($file)?$file->autor:'';?>" required="true" name="autor" placeholder="Seu nome de autor jovem!" title="Preencha o seu nome de autor para que todos reconheçam o criador da aventura solo.">
					</div>
			 	</div>
			</div>
	   		
			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Título</div>
			    		<input type="text" value="<?php echo isset($file)?$file->titulo:'';?>" required="true" name="titulo" placeholder="Um título para sua aventura" title="Coloque um título que reflita a história da sua aventura solo.">
					</div>
				</div>
			</div>

	    	<div class="clear"></div>

	    	 <div class="item-other">
				<div class="inner">
					<div class="box">
						<div class="span">Email</div>
			    		<input type="email" id="email" value="<?php echo isset($file)?$file->email:'';?>" required="true" name="email" placeholder="Seu email pq ele é único!" title="Pedimos o seu email porque através dele é mais fácil evitar cadastros duplicatas.">
					</div>
			 	</div>
			</div>
	   		
			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Contato rápido</div>
			    		<input type="text" value="<?php echo isset($file)?$file->contato_rapido:'';?>" required="true" name="contato_rapido" placeholder="face,twitter, whatsApp, um site ou nada[-]." title="Você informa se você quiser. Caso não queira preencha com um traço [-].">
					</div>
				</div>
			</div>

	    	<div class="clear"></div>

			<p class="large">
				<span class="span" title="Preencha a introdução da sua história e no final dê ao jogador opções para que ele possa prosseguir na aventura.">Introdução</span>
				<textarea id="editor1" required="true" name="introducao" style="height: 250px;" "><?php echo isset($file)?$file->introducao:'';?></textarea>
			</p>

			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Informe a quantidade de opções</div>
			    		<select style="width: 100%;" id="opcoes" name="opcoes" required="true" title="A quantidade de opções são os passo a passo que o jogador vai escolhendo ao longo da aventura.">
			    			<option value="1" <?php echo (isset($file)and($file->opcoes == 1))?'selected':'';?>>1</option>
			    			<option value="2" <?php echo (isset($file)and($file->opcoes == 2))?'selected':'';?>>2</option>
			    			<option value="3" <?php echo (isset($file)and($file->opcoes == 3))?'selected':'';?>>3</option>
			    			<option value="4" <?php echo (isset($file)and($file->opcoes == 4))?'selected':'';?>>4</option>
			    			<option value="5" <?php echo (isset($file)and($file->opcoes == 5))?'selected':'';?>>5</option>
			    		</select>
					</div>
				</div>
			</div>

			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Status</div>
			    		<select style="width: 100%;" id="status" name="status" required="true" title="Só selecione completa quando você terminar a sua aventura solo.">
			    			<option value="0">Incompleta</option>
			    			<option value="1">Completa</option>
			    		</select>
					</div>
				</div>
			</div>
			
			<div class="item-other">
			</div>
			
			<div class="clear"></div>

			<div id="opcoes_de_historias">
				<?php
				if (isset($file->opcoes)) {
					for ($i=1; $i <= $file->opcoes ; $i++) {
						$id = "id{$i}";
						$opcao_nome = "opcao{$i}";
						echo '<div class="item-other">'.
							'<div class="inner">'.
						  		'<div class="box">'.
									'<div class="span">Nome da opção</div>'.
						    		'<input type="text" name="opcao'.$i.'" required="true" value="'.$file->$opcao_nome.'">'.
								'</div>'.
							'</div>'.
						'</div>';

						echo '<div class="item-other">'.
							'<div class="inner">'.
						  		'<div class="box">'.
									'<div class="span">Abrir opçao</div>'.
									'<input type="hidden" name="url_opcao'.$i.'" value="'.URL_BASE.'aventurassolo/opcao/'.$i.'">'.
						    		'<p style="text-align: center; margin-top: 5px;"><a href="'.URL_BASE.'aventurassolo/opcao/'.sha1($file->email).'/'.$file->id_aventura.'/'.$file->$id.'/'.$file->$opcao_nome.'" target="blank">Opção '.$i.'</a></p>'.
								'</div>'.
							'</div>'.
						'</div>'.
						'<div class="clear"></div>';
						}
					}
				?>
			</div>

			<div class="clear"></div>

			<p class="large">
				<input type="submit" name="enviar" value="salvar" style="cursor: pointer;">
			</p>
        </form>
	</div>

	 <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        // CKEDITOR.replace( 'editor1' );
    </script>
</div>