<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: aventurassolo
-->
<script type="text/javascript" src="<?php echo URL_BASE; ?>app/assets/js/ckeditor/ckeditor.js"></script>
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Aventuras solo para RPG">Aventuras Solo</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Desenvolva uma aventura solo. Começe preenchendo os dados abaixo.</p>
        <?php if (isset($partes_aventura)) { ?>
        	<p class="aventurassolo_descricao">Partes da aventura</p>
	        <div style="margin: 15px;" class="aventurasolo_partes">
	        <?php foreach ($partes_aventura as $key => $value) {
	        	echo "<a href=\"{$value['url']}\" class=\"aventurasolo_parte\">{$value['titulo']}</a>";
	        }?>
	        </div>
        <?php }?>
        <form action="<?php echo URL_BASE;?>aventurassolo/salvar/" method="post">
        	<input type="hidden" name="tipo" value="opcao<?php echo $opcao_numero; ?>">
        	<input type="hidden" name="email" value="<?php echo $usuario; ?>">

        	<input type="hidden" name="id_aventura" id="id" value="<?php echo $aventura; ?>">
        	<input type="hidden" name="id_arquivo" id="id_arquivo" value="<?php echo isset($file)?$file->id_arquivo:sha1(uniqid()); ?>">

        	<input type="hidden" name="id1" id="id1" value="<?php echo sha1(uniqid()); ?>">
        	<input type="hidden" name="id2" id="id2" value="<?php echo sha1(uniqid()); ?>">
        	<input type="hidden" name="id3" id="id3" value="<?php echo sha1(uniqid()); ?>">
        	<input type="hidden" name="id4" id="id4" value="<?php echo sha1(uniqid()); ?>">
        	<input type="hidden" name="id5" id="id5" value="<?php echo sha1(uniqid()); ?>">

        	<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Nome da opção</div>
			    		<input type="text" value="<?php echo isset($file)?$file->titulo:$opcao;?>" readonly required="true" name="titulo" placeholder="nome da opção escolhida." title="Este é o nome da opção que o jogador escolheu.">
					</div>
				</div>
			</div>

			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">É o final</div>
			    		<select style="width: 100%;" name="fim" required="true" title="Caso esta opção seja a última parte da aventura, marque-a como sim.">
			    			<option value="0" <?php echo (isset($file)and($file->opcoes == 2))?'selected':'';?>>Não</option>
			    			<option value="1" <?php echo (isset($file)and($file->opcoes == 1))?'selected':'';?>>Sim</option>
			    		</select>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>

			<p class="large">
				<span class="span" title="Descreva o que acontece quando o jogador seleciona esta opção e dê a ele novas opções para a continuação da aventura.">Descrição</span>
				<textarea id="editor1" required="true" name="decricao" style="height: 250px;" "><?php echo isset($file)?$file->editor1:'';?></textarea>
			</p>

			<div class="item-other">
				<div class="inner">
			  		<div class="box">
						<div class="span">Informe a quantidade de opções</div>
			    		<select style="width: 100%;" id="opcoes" name="opcoes" required="true" title="A quantidade de opções são os passo a passo que o jogador vai escolhendo ao longo da aventura.">
			    			<option value="1" <?php echo (isset($file)and($file->opcoes == 1))?'selected':'';?>>1</option>
			    			<option value="2" <?php echo (isset($file)and($file->opcoes == 2))?'selected':'';?>>2</option>
			    			<option value="3" <?php echo (isset($file)and($file->opcoes == 3))?'selected':'';?>>3</option>
			    			<option value="4" <?php echo (isset($file)and($file->opcoes == 4))?'selected':'';?>>4</option>
			    			<option value="5" <?php echo (isset($file)and($file->opcoes == 5))?'selected':'';?>>5</option>
			    		</select>
					</div>
				</div>
			</div>
			
			<div class="item-other">
			</div>
			
			<div class="clear"></div>

			<div id="opcoes_de_historias">
				<?php
				if (isset($file->opcoes)) {
					for ($i=1; $i <= $file->opcoes ; $i++) {
						$id = "id{$i}";
						$opcao_nome = "opcao{$i}";
						echo '<div class="item-other">'.
							'<div class="inner">'.
						  		'<div class="box">'.
									'<div class="span">Nome da opção</div>'.
						    		'<input type="text" name="opcao'.$i.'" required="true" value="'.$file->$opcao_nome.'">'.
								'</div>'.
							'</div>'.
						'</div>';

						echo '<div class="item-other">'.
							'<div class="inner">'.
						  		'<div class="box">'.
									'<div class="span">Abrir opçao</div>'.
									'<input type="hidden" name="url_opcao'.$i.'" value="'.URL_BASE.'aventurassolo/opcao/'.$i.'">'.
						    		'<p style="text-align: center; margin-top: 5px;"><a href="'.URL_BASE.'aventurassolo/opcao/'.sha1($file->email).'/'.$file->id_aventura.'/'.$file->$id.'/'.$file->$opcao_nome.'" target="blank">Opção '.$i.'</a></p>'.
								'</div>'.
							'</div>'.
						'</div>'.
						'<div class="clear"></div>';
						}
					}
				?>
			</div>

			<div class="clear"></div>

			<p class="large">
				<input type="submit" name="enviar" value="salvar" style="cursor: pointer;">
			</p>
        </form>
	</div>

	 <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( '-editor1' );
    </script>
</div>