<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Geradores para D&D 5e RPG">Geradores para D&D 5e RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Ferramentas criadas a partir das tabelas de sorteio do livro do mestre de D&D 5e.</p>
        <?php foreach ($ferramentas as $key => $value): ?>        			
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td" style="width:1%">
	                  		<a href="<?php echo URL_BASE.'ferramentasded5e/sortear/'.$value; ?>" class="item-thumbnail">
	                  			<img src="<?php echo URL_BASE.'app/assets/img/icons/Geradores-do-Livro-do-mestre-de-Dungeons-and-Dragons-5e.png'; ?>" alt="item-thumbnail"  style="margin-top: 0px; width: 100%; height: 50px;">
	                  		</a>
	                  	</div>
	                  	<div class="td">
	                  		<a href="<?php echo URL_BASE.'ferramentasded5e/sortear/'.$value; ?>">
	                   			<h3 class="title emfont"><?php echo ucfirst(str_replace('_', ' ', $value)); ?></h3>
	                  		</a>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>