<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Geradores para D&D 5e RPG">Geradores para D&D 5e RPG</a>
        <a class="label-target" href="<?php echo URL_BASE.'Geradores-do-Livro-do-mestre-de-Dungeons-and-Dragons-5e'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'ferramentasded5e/sortear/'.$type; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Ferramentas criadas a partir das tabelas de sorteio do livro do mestre de D&D 5e.</p>
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
              <h3><?php echo $label; ?></h3>
              <br>  
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td">
                        <?php if (is_array($sorteio)): ?>
                          <?php foreach ($sorteio as $key => $value): ?>
                            <?php if (is_array($value)): ?>
                                <?php $metodos = implode($value); ?>
                              <li><?php echo '<b>'.ucfirst($key).'</b>: '.$metodos; ?></li>
                            <?php else: ?>      
                            <li><?php echo '<b>'.ucfirst($key).'</b>: '.$value; ?></li>
                            <?php endif ?>
                          <?php endforeach ?>
                        <?php else: ?>
                        <p><?php echo $sorteio; ?></p>
                        <?php endif ?>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>