<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de itens RPG">Gerador de Itens para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-itens-para-RPG'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'itens/sortear/'.$type; ?>">Sortear itens</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador de itens possui opções para o D&D 3.5 e D&D 5e. Algumas tabelas do livro do mestre do D&D 5e foram adaptados para este gerador e outros itens do D&D 3.5 também.</p>       			
      <?php if ($type == 'caracteristicas_especiais'): ?>
      <?php foreach ($itens as $key => $value): ?>
        <div class="item item-1 item-other">
            <div class="inner">
                <div class="table" style="text-align: justify;">
                    <h3><?php echo str_replace('_', ' ', ucfirst($key)); ?></h3>
                    <br>
                    <div class="tr">
                        <div class="td">
                            <p><?php echo '<b>'.$value['nome'].'</b>: '.$value['desc']; ?></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      <?php endforeach ?>
      <?php elseif ($type == 'item_inteligente'): ?>
      <?php foreach ($itens as $key => $value): ?>
        <div class="item item-1 item-other">
            <div class="inner">
                <div class="table" style="text-align: justify;">
                    <h3><?php echo str_replace('_', ' ', ucfirst($key)); ?></h3>
                    <br>
                    <div class="tr">
                        <div class="td">
                            <?php if (is_array($value)): ?>
                                <?php foreach ($value as $key1 => $value1): ?>
                                <li><?php echo '<b>'.ucfirst($key1).'</b> '.$value1; ?></li>
                                <?php endforeach ?>
                            <?php else: ?>
                            <p><?php echo ucfirst($value); ?></p>
                            <?php endif ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      <?php endforeach ?>
      <?php else: ?>
      <?php foreach ($itens as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table" style="text-align: justify;">
	                <h3><?php echo 'Item N°'.($key+1); ?></h3>
	               	<br>
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><?php echo $value; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>  
      <?php endforeach ?>
      <?php endif ?>
    	<div class="clear"></div>
	</div>
</div>