<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de tavernas RPG">Gerador de tavernas RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-tavernas-para-RPG'; ?>">Voltar</a>
      <a class="label-target" href="<?php echo URL_BASE.'tavernas/sortear/'.$type; ?>">Sortear taverna</a>        
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Clique em <b>sortear taverna</b> para gerar uma taverna.</p>
    	<div class="clear"></div>
    	<?php foreach ($taverna_dados as $key => $value): ?>
   		<div class="item item item-other">
    		<b style="margin-left: 15px;"><?php echo $key; ?></b>
        	<div class="inner" style="text-align: justify;">
        		<?php if (is_array($value)): ?>
        			<?php foreach ($value as $key2 => $value2): ?>
        				<li><?php echo $value2; ?></li>
        			<?php endforeach ?>
        		<?php else: ?>
	            	<?php echo $value; ?>            	
        		<?php endif ?>
         	</div>
      	</div>
    	<?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>