	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<?php $publicidade->ads_fluid(); ?>
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>aventurateca" title="Utilitários">Aventurateca - Galeria de imagens</a>
				        <a class="label-target" href="#" onclick="window.history.back();">Voltar</a>
				        <div class="clear"></div>
				    </h2>
   
				    <div class="clear"></div>
				    <div class="content">
				    	<div>
				    		<span>Selecione uma categoria para filtrar ou digite o termo desejado abaixo para pesquisar.</span>
						    <?php $aventurateca->pesquisar($helper, 'galeria/imagens'); ?>
				    	</div>
			  
				        <div class="clear"></div>
				        
				     	<div id="resultado">
				     		<?php foreach ($arquivos as $key => $value): ?>
			     				<a href="<?php echo URL_BASE . "aventurateca/preview/{$value->id}" ?>" target="blank">
			     					<?php if ($value->tipo_geral == 'imagens'): ?>
			     						<?php echo "<img src=\"{$value->url_documento}\" 
			     							class=\"img-preview\" title=\"{$value->nome}\" 
			     							onerror=\"this.src='".URL_BASE."app/assets/img/categorias/{$value->tipo_geral}.png'\">"; ?>
			     					<?php else: ?>
			     						<?php echo "<img src=\"{$value->url_imagem}\" 
			     						class=\"img-preview\" title=\"{$value->nome}\" 
			     						onerror=\"this.src='".URL_BASE."app/assets/img/categorias/{$value->tipo_geral}.png'\">"; ?>
			     					<?php endif ?>
			     					<span class="title-img"><?php echo $value->nome ?></span>
			     				</a>
				     		<?php endforeach ?>
				     	</div>
				     	
			     		<?php $helper->contador($pagina, $categoria, $contador, $pesquisa); ?>
			     		
				     	<br>
				    </div>
				</div>
			</div>
			<div class="clear"></div>

			<?php $publicidade->ads_fluid(); ?>
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>