<?php global $div_expire, $script ?>
<html>
	<head>
		<title><?php echo $this->meta_title; ?></title>
		<link href="https://fonts.googleapis.com/css?kit=e9l7fV-3xzXBO6qidGAzZw" rel="stylesheet" type="text/css">
		<meta http-equiv="Cache-control" content="public">
		<meta http-equiv="Pragma" content="public">
		<link href='<?php echo URL_BASE.'app/assets/img/favicon.ico' ?>' rel='icon' type='image/x-icon'/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="<?php echo $this->meta_description; ?>" />
		<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />
		<meta name="author" content="<?php echo 'Maickon Rangel'; ?>" />
		
		<meta property="og:title" content="<?php echo $this->meta_title; ?>">
		<meta property="og:site_name" content="Help RPG">
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="<?php echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
		<meta property="og:description" content="<?php echo $this->meta_description; ?>">
		<meta property="og:type" content="website">
		<meta property="og:image" content="<?php echo URL_BASE.'app/assets/img/utilitarios.jpg' ?>">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="500">
		<meta property="og:image:height" content="340">

		<?php echo $this->css_files; ?>
		<link href="<?php echo URL_BASE; ?>app/assets/css/modal.css" rel="stylesheet" type="text/css" media="all" />
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({
		          google_ad_client: "ca-pub-3010334569259161",
		          enable_page_level_ads: true
		     });
		</script>
		<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
		</script>
		<amp-auto-ads type="adsense" data-ad-client="ca-pub-3010334569259161">
		</amp-auto-ads>
		<?php echo $script; ?>
	</head>
<body>
<?php echo $div_expire; ?>
<?php require PATH_BASE.'app/views/init/modal.phtml'; ?>
<script type="text/javascript">
	var URL_BASE = '<?php echo URL_BASE; ?>';
</script>
<?php if (!isset($_SESSION['login']) && !isset($_SESSION['usuarios_logados'])): ?>
	 <script async type="text/javascript"> 
	//     var adfly_id = 11006171; 
	//     var popunder_frequency_delay = 0;
	//     var adfly_protocol = 'https';
	// </script> 
	<script async src="https://cdn.adf.ly/js/display.js"></script> 
<?php endif ?>
<script type="text/javascript" src="<?php echo URL_BASE; ?>app/assets/js/modal.js"></script>
<div id="header">
   	<div class="header-inner wide emfont">
      	<div class="table header-menu">
         	<div class="tr">
         		<div class="td section" id="header-section">
               		<div class="widget Header" data-version="1" id="Header1">
                  		<h1 class="blog-title">
                     		<a href="<?php echo URL_BASE; ?>">
                     			<img alt="Help RPG" height="120px; " src="<?php echo URL_BASE.'app/assets/img/'; ?>logo.png" title="Help RPG" width="120px; ">
                     		</a>
                  		</h1>
              	 	</div>
            	</div>
            	
            	<div class="menu-container td">
               		<div class="section-label section" id="main-menu-label">
                 		<div class="widget HTML" data-version="1" id="HTML100">
                     		<h2 class="title">Menu Principal</h2>
                     		<div class="widget-content"></div>
                     		<div class="clear"></div>
                     		<span class="widget-item-control">
                     			<span class="item-control blog-admin">
	                     			<a class="quickedit" href="//www.blogger.com/rearrange?blogID=5790058751600283732&amp;widgetType=HTML&amp;widgetId=HTML100&amp;action=editWidget&amp;sectionId=main-menu-label" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML100&quot;));" target="configHTML100" title="Editar">
	                     				<img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
	                     			</a>
                     			</span>
                     		</span>
                     		<div class="clear"></div>
                  		</div>
               		</div>
               		
               		<div class="crosscol section" id="main-menu">
	                  	<ul class="menu" id="res-menu-1">
		                   	<li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>especial/links" target="blank">Links rápidos</a>
		                    </li>
		           			<li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>especial" target="blank">Especial</a>
		                    </li>
		                    <li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>" target="blank">Utilitários</a>
		                    </li>
		                    <li class="menu-item">
		                    	<a href="http://www.helprpg.com.br/p/anuncios-no-help-rpg.html" target="blank">Anuncie</a>
		                   	</li>
		                   	<?php if (!isset($_SESSION['login'])): ?>
			                    <li class="menu-item">
			                    	<a href="#" onclick="diaplayModal('nova-conta');">Criar conta</a>
			                    </li>
		                    <?php endif ?>
		                    <li class="menu-item">
		                    	<?php if (isset($_SESSION['login'])): ?>
		                    		<a href="<?php echo URL_BASE.'sair' ?>">Logout</a>
		                    	<?php else: ?>
		                    		<a href="#" onclick="diaplayModal('login');">Login</a>
		                    	<?php endif ?>
		                    </li>
		                </ul>
                  
	                  	<select class="selectnav" id="selectnav1">
		                    <option value="" selected>≡ Menu</option>
		                    <option value="http://www.helprpg.com.br/2017/08/como-se-joga-rpg.html">O que é RPG?</option>
		                    <option value="http://www.helprpg.com.br/p/sobre.html">Sobre</option>
		                    <option value="http://www.helprpg.com.br/p/blog-page.html">Seja um Helper</option>
		                    <option value="http://www.helprpg.com.br/p/revistas.html">Revistas</option>
		                    <option value="http://helprpg.uphero.com/">Utilitários antigos</option>
		                    <option value="#" onclick="diaplayModal('login');">Login</option>
	                  	</select>
               		</div>
               
	               	<div class="section-label section" id="sub-menu-label">
	                	<div class="widget HTML" data-version="1" id="HTML101">
	                    	<h2 class="title">Sub Menu</h2>
	                    	<div class="widget-content"></div>
	                    	<div class="clear"></div>
	                    	<span class="widget-item-control">
		                    	<span class="item-control blog-admin">
		                    		<a class="quickedit" href="//www.blogger.com/rearrange?blogID=5790058751600283732&amp;widgetType=HTML&amp;widgetId=HTML101&amp;action=editWidget&amp;sectionId=sub-menu-label" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML101&quot;));" target="configHTML101" title="Editar">
		                     			<img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
		                     		</a>
		                     	</span>
	                     	</span>
	                     	<div class="clear"></div>
	                  	</div>
	               	</div>
            	</div>
        	</div>
    	</div>
	</div>
	<div class="clear"></div>
</div>