	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>aventurateca" title="Utilitários">Aventurateca - Home</a>
				        <a class="label-target" href="http://www.helprpg.com.br/p/aventurateca-o-que-e.html" target="blank">O que é Aventurateca?</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>aventurateca/lista">Visualizar em lista</a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				    	<div>
				    		<span>Selecione uma categoria para filtrar ou digite o termo desejado abaixo para pesquisar.</span>
						    <?php $aventurateca->pesquisar($helper); ?>
				    	</div>
			     		
			     		<div class="box">
			     			<h1>Aventuras recentes</h1>
			     			<?php foreach ($arquivos->aventuras as $key => $value): ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/aventuras">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/aventuras">Visualizar normal...</a>
			     			</p>
			     		</div>

			     		<div class="box">
			     			<h1>Personagens recentes</h1>
			     			<?php foreach ($arquivos->personagens as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/personagens">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/personagens">Visualizar normal...</a>
			     			</p>
			     		</div>
			     		<div class="box-img">
			     			<h1>Imagens recentes</h1>
			     			<?php foreach ($arquivos->imagens as $key => $value): ?>
			     				<a href="<?php echo URL_BASE . "aventurateca/preview/{$value->id}" ?>" target="blank">
			     					<?php echo "<img src=\"{$value->url_documento}\" class=\"img-preview\">"; ?>
			     				</a>
			     			<?php endforeach ?>
			     			<p class="img">
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/imagens">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/imagens">Visualizar normal...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/galeria/imagens">Visualizar em galeria...</a>
			     			</p>
			     		</div>
			     		
			     		<?php $publicidade->ads_pure_responsive(); ?>
			     		
			     		<div class="box">
			     			<h1>Artigos & Dicas recentes</h1>
			     			<?php foreach ($arquivos->artigos as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/artigos">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/artigos">Visualizar normal...</a>
			     			</p>
			     		</div>

			     		<div class="box">
			     			<h1>Livros & Suplementos recentes</h1>
			     			<?php foreach ($arquivos->livros as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/livros">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/livros">Visualizar normal...</a>
			     			</p>
			     		</div>

			     		<?php $publicidade->ads_pure_responsive(); ?>

			     		<div class="box">
			     			<h1>Itens recentes</h1>
			     			<?php foreach ($arquivos->itens as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/itens">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/itens">Visualizar normal...</a>
			     			</p>
			     		</div>

			     		<div class="box">
			     			<h1>Programas e aplicativos recentes</h1>
			     			<?php foreach ($arquivos->programas as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/programas">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/programas">Visualizar normal...</a>
			     			</p>
			     		</div>

			     		<div class="box">
			     			<h1>Contos recentes</h1>
			     			<?php foreach ($arquivos->contos as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/contos">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/contos">Visualizar normal...</a>
			     			</p>
			     		</div>
			   	
			     		<?php $publicidade->ads_pure_responsive(); ?>
				        
			     		<div class="box">
			     			<h1>Histórias recentes</h1>
			     			<?php foreach ($arquivos->historias as $key => $value): ?>
			     				<?php $url_documento = $url->ads_link($value->url_documento); ?>
			     				<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)) ?>
			     				<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
			     				<?php echo "<div class=\"data-documento\"><a href='{$url_documento}' class=\"url-titulo\" data-id=\"{$value->id}\">{$value->nome}</a> Por <b><a>{$value->nick}</a></b><br>Mídia: <span>{$tipo}</span> Marcadores: <span>{$marcadores}</span></div>"; ?>
				     			<div class="img-preview-<?php echo $value->id; ?> hidden">
				     				<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
				     			</div>
			     			<?php endforeach ?>
			     			<p>
			     				<a href="<?php echo URL_BASE ?>aventurateca/tabelas/historias">Visualizar em tabela...</a>
			     				<a href="<?php echo URL_BASE ?>aventurateca/padrao/historias">Visualizar normal...</a>
			     			</p>
			     		</div>

				        <div class="clear"></div>
				     	<br>
				    </div>
				</div>
			</div>

			<div class="clear"></div>

			<?php $publicidade->ads_fluid(); ?>
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>