	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<?php $publicidade->ads_fluid(); ?>
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>aventurateca" title="Utilitários">Aventurateca - Resultado da pesquisa</a>
				        <a class="label-target" href="#" onclick="window.history.back();">Voltar</a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
				    	<div>
				    		<span>Selecione uma categoria para filtrar ou digite o termo desejado abaixo para pesquisar.</span>
						    <?php $aventurateca->pesquisar($helper); ?>
				    	</div>
			  
				        <div class="clear"></div>
				     	<div id="resultado">
				     		<?php foreach ($arquivos as $key => $value): ?>
				     			<?php $url_documento = $url->ads_link($value->url_documento); ?>
					     		<div class="resultados">
					     			<?php $index_link = ($key == 0)?'id="index-link"':'' ?>
					     			<?php $tipo = "<a href=\"".URL_BASE."aventurateca/pesquisar_midia/{$value->tipo_documento}\">{$value->tipo_documento}</a>"; ?>
									<h3 class="preview" data-id="<?php echo $value->id ?>">
										<a href="<?php echo $url_documento ?>" <?php echo $index_link ?> target="blank" class="url-titulo" data-id="<?php echo $value->id ?>">
											<?php echo $value->nome ?>
										</a> 
										<a href="<?php echo URL_BASE ?>aventurateca/preview/<?php echo $value->id ?>" target="blank">&#10149;</a> 
										<a href="<?php echo URL_BASE ?>aventurateca/pesquisar_categoria/<?php echo $value->tipo_geral ?>">[<?php echo $value->tipo_geral ?>]</a>
									</h3>
									<?php $cadastrado = (new DateTime($value->cadastrado))->format('d/m/Y H:i:s'); ?>
									Cadastrado em: <?php echo $cadastrado ?> por <b><?php echo $value->nick ?></b><br>
									<?php $marcadores = $aventurateca->linkar_hashtag("#" . str_replace(", ", " #", $value->palavras_chave)); ?>
			     					<b>Mídia</b>: <?php echo $tipo ?>  
			     					<b>Marcadores</b>: <?php echo $marcadores ?>
			     					<?php if (!empty($value->sistema_rpg)): ?>
				     					<b>Sistema</b>: 
			     						<a href="<?php echo URL_BASE ?>aventurateca/pesquisar_sistema/<?php echo urlencode($value->sistema_rpg) ?>">
			     							<?php echo $value->sistema_rpg ?>
			     						</a>
			     					<?php endif ?>
			     					<br>
									<b>Descrição breve</b>: <?php echo $value->descricao ?><br>
									<div class="img-preview-<?php echo $value->id; ?> hidden">
										<?php if ($value->tipo_documento == 'img'): ?>
					     					<img class="img-preview-hover" src="<?php echo $value->url_documento ?>">
										<?php else: ?>
					     					<img class="img-preview-hover" src="<?php echo $value->url_imagem ?>">
										<?php endif ?>
					     			</div>
								</div>
				     		<?php endforeach ?>
				     		<div style="text-align:center;">
					     		<?php if (isset($resposta)): ?>
					     			<h3><?php echo $resposta; ?></h3>
					     		<?php endif ?>
				     		</div>
				     	</div>
				     	<div class="contador" id="contador">
			     			<div class="indices">
			     				<?php $helper->contador($pagina, $categoria, $contador, $pesquisa); ?>
			     			</div>
			     		</div>
				     	<br>
				    </div>
				</div>
			</div>
			<div class="clear"></div>
			<?php $publicidade->ads_fluid(); ?>
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>