<html>
	<head>
		<?php $cadastrado = (new DateTime($preview->cadastrado))->format('d/m/Y H:i:s'); ?>
		<title><?php echo $preview->nome; ?></title>
		<link href="https://fonts.googleapis.com/css?kit=e9l7fV-3xzXBO6qidGAzZw" rel="stylesheet" type="text/css">
		<meta http-equiv="Cache-control" content="public">
		<meta http-equiv="Pragma" content="public">
		<meta http-equiv="content-language" content="<?php echo $_SESSION['language']; ?>" />
		<meta name="copyright" content="Copyright (c) 2011-<?php echo date("Y"); ?> Help RPG" />
		<meta name="rating" content="14 years" />
		<link href='<?php echo URL_BASE.'app/assets/img/favicon.ico' ?>' rel='icon' type='image/x-icon'/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="<?php echo $preview->descricao; ?>" />
		<meta name="keywords" content="<?php echo $preview->palavras_chave; ?>, RPG, Arquivos, Downloads, Games" />
		<meta name="author" content="<?php echo $preview->nick; ?>" />
		
		<meta property="og:title" content="<?php echo $preview->nome; ?>">
		<meta property="og:site_name" content="Help RPG">
		<meta property="og:locale" content="<?php echo $_SESSION['language']; ?>">
		<meta property="og:url" content="<?php echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
		<meta property="og:description" content="<?php echo $preview->descricao; ?>">
		<meta property="og:type" content="website">
		<meta property="og:image" content="<?php echo $preview->url_imagem ?>">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="500">
		<meta property="og:image:height" content="340">

		<meta property="website:author" content="<?php echo $preview->nick; ?>">
		<meta property="website:section" content="<?php echo $preview->tipo_geral; ?>">
		<meta property="website:tag" content="<?php echo $preview->palavras_chave; ?>">
		<meta property="website:published_time" content="<?php echo $cadastrado; ?>">

		<?php echo $this->css_files; ?>
	</head>
	<body>
		<div id="content-preview">
			<?php $publicidade->ads_preview_page(); ?>
			<div class="descricao-preview">
				<h1><?php echo $preview->nome ?></h1>
				<?php $url_documento = $url->ads_link($preview->url_documento); ?>
				<div>
					<a href="<?php echo $url_documento ?>" target="blank" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>"><?php echo 'Clique aqui para fazer o download' ?></a>
				</div>
				<div><?php echo "<b>Criado em</b>: $cadastrado" ?> <?php echo "<b>Por</b> $preview->nick" ?></div>
				<div style="text-align:center;"><?php echo $preview->descricao ?></div>
			</div>
			
			<?php if ($preview->tipo_documento == 'img'): ?>
				<div id="img-preview" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
					<div style="width:50%;">
						<a href="<?php echo $url_documento ?>" target="blank" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
							<img class="img-preview-page" src="<?php echo $preview->url_documento ?>" onerror="this.src='<?php echo URL_BASE ?>app/assets/img/categorias/<?php echo $preview->tipo_geral ?>.png'" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
						</a>
					</div>
				</div>
			<?php else: ?>	
				<div id="img-preview" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
					<div style="width:50%;">
						<a href="<?php echo $url_documento ?>" target="blank" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
							<img class="img-preview-page" src="<?php echo $preview->url_imagem ?>" onerror="this.src='<?php echo URL_BASE ?>app/assets/img/categorias/<?php echo $preview->tipo_geral ?>.png'" title="Material para Download - <?php echo $preview->nome ?>" alt="Material para Download - <?php echo $preview->nome ?>">
						</a>
					</div>
				</div>
			<?php endif ?>

			<?php $publicidade->ads_preview_page(); ?>
			
			<p class="links">
				<a href="<?php echo URL_BASE ?>aventurateca">Home Aventurateca</a> | 
				<a href="javascript:history.go(-1)">Voltar</a> | 
				<a href="<?php echo URL_BASE ?>">Utilitários para RPG</a>
			</p>
		</div>

	</body>
</html>