	
	<?php require 'header.phtml'; ?>

	<div id="primary">
		<div class="wide">
			<?php $publicidade->ads_fluid(); ?>
			<div id="main" class="dashboard">
				<div class="label-layout">
				    <h2 class="title emfont">
				        <a class="label-name" href="<?php echo URL_BASE ?>aventurateca" title="Utilitários">Aventurateca - Visualização em tabelas</a>
				        <a class="label-target" href="<?php echo URL_BASE ?>aventurateca/lista">Visualizar em Lista Dinâmica</a>
				        <div class="clear"></div>
				    </h2>
				    <div class="clear"></div>
				    <div class="content">
			     		<div>
	                        <div class="form-item" style="width:25%;">
	                            <span>Visualizar...</span>
	                            <select name="tipo_geral" style="height:30px;" id="categorias-tabela">
	                                <option value="">Selecione...</option>
	                                <option value="todos">Todos</option>
	                                <?php foreach ($helper->tipos_form as $key => $value): ?>
	                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
	                                <?php endforeach ?>
	                            </select>
	                        </div>
				    		<a href="#" onclick="window.history.back()" class="ativar-btn">Voltar</a>
				    	</div>
				    	<br>
				    	<table id="tabela-pesquisar" width="100%" class="display">
						    <thead>
						        <tr>
						            <th>Id</th>
						            <th>Categoria</th>
						            <th>Tipo</th>
						            <th>Título</th>
						            <th>Postado em</th>
						            <th>Autor</th>
						            <th>Ação</th>
						        </tr>
						    </thead>
						    <tbody>
						    <?php date_default_timezone_set('America/Sao_Paulo'); ?>
				    		<?php foreach ($arquivos as $key => $value): ?>
						        <tr>
						        	<?php $url_documento = $url->ads_link($value->url_documento); ?>
						            <td><?php echo $value->id; ?></td>
						            <td><?php echo ucfirst($value->tipo_geral); ?></td>
						            <td><?php echo ucfirst($value->tipo_documento); ?></td>
						            <td><a href="<?php echo $url_documento; ?>" target="blank"><?php echo $value->nome; ?></a></td>
						            <td><?php echo (new DateTime($value->cadastrado))->format('d/m/Y H:i:s'); ?></td>
						            <td><?php echo $value->usuarios->nick; ?></td>
						            <td>
						            	<a href="<?php echo $url_documento; ?>" target="blank" class="ativar-btn">Abrir</a>
						            </td>
						        </tr>
					    	<?php endforeach ?>
						    </tbody>
						</table>
				     	<br>
				    </div>
				</div>
			</div>

			<div class="clear"></div>
			<?php $publicidade->ads_fluid(); ?>
		</div>
	</div>
	
	<?php require PATH_BASE.'app/views/dashboard/footer.phtml'; ?>
	
	<?php echo $this->js_files; ?>
	</body>
</html>