<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: doencas
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de Doenças RPG">Gerador de Doenças RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Doencas-para-NPC-ou-PJ'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador sorteia uma doença que poderia acontecer com um PJ (Personagem jogador) ou NPC (Personagem do mestre). A aventura poderia ser em volta da busca por uma possível cura para a doença.</p>
        <?php foreach ($doenca as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
        		<h3><?php echo str_replace('_', ' ', $key); ?></h3>
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td">
	                  		<p><?php echo ($value); ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
        <p style="margin: 15px; text-align: justify;">
        	*Para cada ponto negativo na temperatura, aumenta a dificuldade do teste em 1, e para cada ponto positivo na temperatura, diminui a dificuldade do teste em 1.
        </p>
        <p style="margin: 15px; text-align: justify;">
			¹São doenças que precisam de remédios e tratamentos específicos, para isso o mestre pode inventar alguma cura para o jogador ir atrás ou algo do gênero.
        </p>
    	<div class="clear"></div>
	</div>
</div>