<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: deturpacoesmagicas
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de deturpações mágicas RPG">Gerador de deturpações mágicas</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Deturpacoes-magicas-para-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Gerador criado a partir de um arquivo chamado <b>Os Manuscritos de Niburu</b>. Seu uso é interessante para descrever efeitos indesejados após falhas no uso da magia e condições estranhas que exigem o uso da masma.</p>
   		<div class="item item-other">
        	<div class="inner" style="text-align: justify;">
	        	<h3><?php echo ucfirst($sorteio); ?></h3>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>