<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de cidades RPG">Gerador de cidades RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-cidades-para-RPG'; ?>">Sortear cidade</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Este gerador teva sua base inspirada no gerador de cidade descrito no livro do mestre de D&D 3.5</p>
   		<p style="margin: 15px;">Clique em <b>sortear cidade</b> para gerar uma nova cidade.</p>
        <?php foreach ($cidade_sorteada as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
   				<h3><?php echo $key; ?></h3>
            	<br>
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td">
	                  		<?php if (is_array($value)): ?>
	                  			<?php foreach ($value as $key1 => $value1): ?>
	                  				<li><?php echo ucfirst($value1); ?></li>
	                  			<?php endforeach ?>
	                  		<?php else: ?>
	                  		<p><?php echo ucfirst($value); ?></p>
	                  		<?php endif ?>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>