<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de descrição para RPG">Gerador de descrição para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-descricao-de-personagens-para-RPG'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'personalidades/sortear/'.$type; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador tenta gerar uma base descritiva para aspectos de personalidade de um personagem.</p>
   		<?php foreach ($aspectos as $key => $value): ?>		
   		<div class="item item-1 item-other">
        	<div class="inner">
	            <h3><?php echo $key; ?></h3>
            	<div class="table" style="text-align: justify;">
	               	<br>
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><?php echo $value; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>   
   		<?php endforeach ?>	
    	<div class="clear"></div>
	</div>
</div>