<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Geradores para D&D 5e RPG">Geradores para D&D 5e RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Geradores-assentamentos-para-Dungeons-and-Dragons-5e'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'assentamentos/sortear/'.$type; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Este gerador foi criado com base nas tabelas de assentamento, contruções aleatórias e encontros aleatórios no livro do mestre de D&D 5e.</p>
      <p style="margin: 15px; text-align: justify;"><b>Observação</b> Quando sortear um tipo construção, considere apenas a descrição deste tipo e ignore as outras. (caso deseje apenas um único tipo de construção.)</p>       			
        <?php foreach ($assentamento_sorteio as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table">
	                <h3><?php echo $key; ?></h3>
	               	<br>
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><?php echo $value; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>  
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>