<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de tempo climático RPG">Gerador de tempo climático RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-tempo-climatico-para-RPG'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Simulador de tempo climático para RPG de mesa.</p>
        <?php foreach ($tempo_sorteado as $key => $value): ?>        			
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
        		<h3><?php echo $key; ?></h3>
            	<div class="table" style="text-align: justify;">
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><?php echo $value; ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>