<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2018
	View: fluxovida
-->

<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Old Dragon - Fluxovida RPG">Old Dragon - Fluxovida RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'Fluxovida-Old-Dragon'; ?>">Novo Personagem</a>       
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">
   			Ferramenta desenvolvida através do suplemento 
            <a href="http://redboxeditora.com.br/2017/wp-content/files/OD_Fluxovida.pdf" target="blank">
                Old Dragon - Fluxovida
            </a>.
   			<br>
   			Old Dragon™ e Fluxovida™ são produtos da ©Redbox Editora. 2011-2018 Todos os direitos reservados.
        <br>
        Criado originalmente por <a href="https://codepen.io/xikowisk/pen/ERKbwd" target="blank">Rafael Castro Couto</a> e disponível também aqui: <a href="https://ociolevaaovicio.blogspot.com/p/blog-page_5.html">https://ociolevaaovicio.blogspot.com</a>.
   			<br>
   			<b>Observação:</b> Alguns pequenos detalhes foram adicionados/alterados.
   		</p>
    	<div class="clear"></div>
    	<?php foreach ($fluxovida->ficha as $key => $value): ?>
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
        		<div class="table">
               		<h3><?php echo $value['label']; ?></h3>
                 	<br>
                  	<div class="tr" style="text-align: justify;">
                   		<div class="td">
                        	<p><?php echo $value['nome']; ?></p>
	                  	</div>
		          	</div>
            	</div>            	
         	</div>
      	</div>
    	<?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>