<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: tormentarpgitens
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de aventuras para RPG">Gerador de itens para Tormenta RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Gerador de itens mágicos para tormenta RPG. Estes geradores são baseados nas tabelas do livro da tormenta.</p>
        <?php foreach ($item->itens as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
            	<div class="table">
	               	<div class="tr">
	                  	<div class="td" style="width:1%">
	                  		<a href="<?php echo URL_BASE.'tormentarpgitens/sortear/'.$key; ?>" class="item-thumbnail">
	                  			<img src="<?php echo URL_BASE.'app/assets/img/icons/Gerador-de-itens-para-Tormenta-RPG.png'; ?>" alt="item-thumbnail"  style="margin-top: 0px; width: 100%; height: 50px;">
	                  		</a>
	                  	</div>
	                  	<div class="td">
	                  		<a href="<?php echo URL_BASE.'tormentarpgitens/sortear/'.$key; ?>">
	                   			<h3 class="title emfont"><?php echo ucfirst($value); ?></h3>
	                  		</a>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>