<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de aventuras para RPG">Gerador de itens - Tormenta RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-itens-para-Tormenta-RPG'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'tormentarpgitens/sortear/'.$type; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">Gerador de itens para Tormenta RPG.</p>
      <p style="margin: 15px; text-align: justify;">Sorteando <b><?php echo $titulo; ?></b></p>      			
      <?php foreach ($itens as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table">
                  <?php if ($type == 'todos_os_pergaminhos'): ?>
	                <h3><?php echo 'Pergaminho de '.$value['nome']; ?></h3>
                  <?php elseif ($type == 'armas_magicas' || $type == 'armas_magicas_de_ataque_a_distancia' || $type == 'escudos_magicos' || $type == 'armaduras_magicas'): ?>  
                  <h3><?php echo $value['nome'].' '.$value['habilidade']; ?></h3>
                  <?php else: ?>  
                  <h3><?php echo ucfirst($value['nome']); ?></h3>
                  <?php endif ?>
                  <br>
                  <div class="tr" style="text-align: justify;">
                      <div class="td">
                        <?php if ($type == 'todos_os_pergaminhos'): ?>
                        <p><?php echo str_replace('_', ' ', ucfirst($value['tipo'])).' de °'.$value['circulo'].'nível <br> Valor: '.$value['preco']; ?></p>
                        <?php elseif ($type == 'itens_diversos'): ?>
                        
                        <?php elseif ($type == 'gemas'): ?>
                        <p><?php echo 'Valor: '.$value['preco']; ?></p>
                        <?php else: ?>  
                        <p><?php echo 'Valor: '.$value['preco']; ?></p>
                        <?php endif ?>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>  
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>