<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: pdms
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de PdMs D&D 5e RPG">Gerador de PdMs D&D 5e RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'Gerador-de-PdMs-para-Dungeons-and-Dragons-5e'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Gerador de PdM baseado no livro do mestre de D&D 5e.</p>
        <?php foreach ($exibir_pdm as $key => $value): ?>        			
   		<div class="item item-other">
        	<div class="inner">
        		<h3><?php echo $pdm->tracos_pdm[$key]; ?></h3>
            	<div class="table" style="text-align: justify;">
                    <br>
	               	<div class="tr">
	                  	<div class="td">
	                  		<p><?php echo ($value); ?></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>