<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de masmorras RPG">Criar uma sessão</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content" style="margin: 15px;">
   		<p style="text-align: justify;">Preencha o código com o código da página anterior e informe um nick a sua escolha.</p>
      <div style="width:100%; height:50%;">
        <div style="width:50%; height:50px; margin: 0 auto; margin-top: 20px;">
          <input type="text" value="" placeholder="Código" style="width:100%; height:25px;">
        </div>
        <div style="width:50%; height:50px; margin: 0 auto;">
          <input type="text" value="" placeholder="Nick (Invente um)" style="width:100%; height:25px;">
        </div>
        <div style="width:50%; height:50px; margin: 0 auto;">
          <input type="submit" value="Fazer login" style="width:100%; height:25px;">
        </div>
      </div>
	</div>
</div>