  <!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: fichavampiros
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de fichas para Vampiro a mascara">Gerador de fichas - Vampiro</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
        <a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Fichas-para-Vampiro'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
        <p style="margin: 15px;"><b>Gerador de fichas para Vampiro: A Mascara.</b></p>
        <div style="margin: 15px;">
        <form method="post">
            <select name="geracao">
                <option value="">Ger.</option>
                <?php for($i=1; $i<=13; $i++): ?>
                    <?php echo '<option value="'.$i.'">'.$i.'°</option>'; ?>
                <?php endfor; ?>
            </select>
            
            <select name="cla">
                <option value="">Clã</option>
                <?php foreach ($cla_list as $key => $value): ?>
                    <option value="<?php echo $value ?>"><?php echo $value; ?></option>
                <?php endforeach ?>
            </select>

            <select name="natureza">
                <option value="">Natureza</option>
                <?php foreach ($nat_list as $key => $value): ?>
                    <option value="<?php echo $value ?>"><?php echo $value ?></option>
                <?php endforeach ?>
            </select>
        
            <select name="arquetipo">
                <option value="">Arquétipo</option>
                <?php foreach ($arq_list as $key => $value): ?>
                    <option value="<?php echo $value ?>"><?php echo $value ?></option>
                <?php endforeach ?>
            </select>
        
          <input type="submit" class="btn" name="Nova Ficha" value="Nova Ficha">
        </form>
        <input type="button" class="btn" name="Download" value="Exportar imagem" onclick="download('ficha-vampiro-a-mascara-rpg');">
      </div>
      <div id="ficha-vampiro-a-mascara-rpg">
        <p style="margin: 15px; text-align:justfy;">
            <?php echo "<b>Nome</b>: {$ficha->nome}"; ?>
            <?php echo "<b>Sexo</b>: {$ficha->sexo}"; ?>
            <?php echo "<b>Geração</b>: {$ficha->geracao}"; ?>
            <br>
            <?php echo "<b>Arquetipo</b>: {$ficha->arquetipo}"; ?>
            <?php echo "<b>Conceito</b>: {$ficha->natureza['nome']}"; ?>
            <?php echo "<b>Comportamento</b>: {$ficha->conceito}"; ?>
            <?php echo "<b title=\"{$ficha->cla['descricao']}\">Clã</b>: {$ficha->cla['nome']}"; ?>
            <br>
            <br>
        </p>
            <?php
              echo '<div style="width: 30%; margin-left: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->atributos['fisico'] as $key => $value):
                    echo "<b>{$ficha->label_attr['fisico'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; text-align:justfy; float: left;">';
              foreach ($ficha->atributos['social'] as $key => $value):
                     echo "<b>{$ficha->label_attr['social'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%;text-align:justfy; float: left;">';
              foreach ($ficha->atributos['mental'] as $key => $value):
                    echo "<b>{$ficha->label_attr['mental'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-left: 15px; margin-top: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->habilidades['talento'] as $key => $value):
                  echo "<b>{$ficha->label_hab['talento'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->habilidades['pericia'] as $key => $value):
                  echo "<b>{$ficha->label_hab['pericia'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->habilidades['conhecimento'] as $key => $value):
                  echo "<b>{$ficha->label_hab['conhecimento'][$key]}</b>: {$value}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-left: 15px; margin-top: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->antecedente as $key => $value):
                  echo "<b title=\"{$value['descricao']}\">{$value['nome']}</b>: {$value['valor']}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
              foreach ($ficha->cla['disciplinas'] as $key => $value):
                  echo "<b>{$value['nome']}</b>: {$value['valor']}<br>";
              endforeach;
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
                echo "<b>{$ficha->virtude['consiencia']['nome']}</b>: {$ficha->virtude['consiencia']['valor']} <br>";
                echo "<b>{$ficha->virtude['autocontrole']['nome']}</b>: {$ficha->virtude['autocontrole']['valor']} <br>";
                echo "<b>{$ficha->virtude['coragem']['nome']}</b>: {$ficha->virtude['coragem']['valor']} <br>";
              echo '</div>';

              echo '<div class="clear"></div>';

              echo '<div style="width: 30%; margin-left: 15px; margin-top: 15px; text-align:justfy; float: left;">';
                echo "<b>Humanidade</b>: {$ficha->humanidade}<br>";
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
                echo "<b>Pontos de Sangue</b>: {$ficha->pts_sangue}<br>";
              echo '</div>';

              echo '<div style="width: 30%; margin-top: 15px; text-align:justfy; float: left;">';
                echo "<b>Força de vontade</b>: {$ficha->fdv}<br>";
              echo '</div>';

          
          echo '<div style="width: 95%; margin-top: 15px; margin-left: 15px; margin-right: 15px; float: left;">';
          if (isset($ficha->qualidades_defeitos)) {
              echo "<h3>Qualidades & Defeitos</h3><br>";
              echo '<p style="text-align:justify;">';
              foreach ($ficha->qualidades_defeitos as $key => $value) {
                  echo "<b>{$value['nome']}</b> ";
                  echo "{$value['pts']}<br>";
                  echo "{$value['desc']}<br><br>";
              }
            echo '</p>';
          }
          echo '</div>';
        ?>
        <div style="width: 90%; margin-top: 15px; margin-left: 15px; margin-right: 15px;">
          <a href="#">Ficha gerada pelo helprpg.com.br</a>
        </div>
      </div>

      <div class="clear"></div>
  </div>
</div>