<!-- The Modal -->
<div id="login" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="close-login">&times;</span>
            <h2>Seja bem vindo a maior central de utilitários para RPG</h2>
        </div>
        <div class="modal-body">
            <div class="login-form">
                <h1 style="text-align:center;">Login</h1>
                <form method="post" action="<?php echo URL_BASE ?>login">
                    <span>Login</span>
                    <input type="email" name="email" value="" placeholder="Insira o seu email">
                    <span>Senha</span>
                    <input type="password" name="senha" value="" placeholder="Insira sua senha">
                    <div style="margin-top:5px;">
                        <span>Marque a caixa ao lado se estiver com problemas em logar</span>
                        <input type="checkbox" name="ativo" style="float:right; width:30px;">
                    </div>
                    <input type="submit" name="Enviar" class="btn" value="Enviar">
                </form> 
            </div>
        </div>
    <div class="modal-footer">
        <h3>Help RPG &copy 2018 - Central de Utilitários</h3>
    </div>
</div>

</div>

 <!-- The Modal -->
<div id="nova-conta" class="modal" style="overflow:auto;">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="close-conta">&times;</span>
      <h2>Seja bem vindo a maior central de utilitários para RPG</h2>
    </div>
    <div class="modal-body" style="text-align:justify;">
        <p>Olá jovem aventureiro! Se você não gosta de usar os utilitários do <a>Help RPG</a> com os links <b>adfly</b>, você pode criar uma conta para se tornar um usuário patrocinador.
        <br>
        Com uma conta de patrocinador você estará ajudando o site a evoluir. Tudo que precisa fazer para prosseguir é escolher um plano preenchendo o formulário abaixo e após isso entrar em contato conosco pelo email: <b>helprpg.br@gmail.com</b> com o assunto patrocinador. 
        <br>
        Você também pode se cadastrar como um usuário <b>Free</b>, neste caso sua conta só te permitirá realizar cadastros no Help RPG mas os links adfly continuarão ativo.
        <br>
        Os custos para usar o site sem os links adfly é barato. Formas de pagamento: Paypal ou Depósito direto. Entre em contato pelo email para mais detalhes.</p>
        <table style="width:100%; border: 1px solid #000; text-align:center;">
            <tr>
                <th>Tipo</th>
                <th>Mensal</th>
                <th>Semestral</th> 
                <th>Anual</th>
            </tr>
            <tr>
                <td>Único - Login de acesso único.</td>
                <td>R$ 3,00</td>
                <td>R$ 17,10 5% de desconto</td> 
                <td>R$ 32,40 10% de desconto</td>
            </tr>
            <tr>
                <td>Grupo - Login de acesso para 6 pessoas</td>
                <td>R$ 15,00</td>
                <td>R$ 85,50 5% de desconto</td> 
                <td>R$ 162,00 10% de desconto</td>
            </tr>
        </table>
        <div class="modal-msg">
            <p>
            Após o pagamento será liberado para você uma conta de acesso e nesta conta após logado o site não terá mais links com adfly e o anuncio superior será colocado no fundo do site permitindo uma visão melhor.
            <br>
            O plano único da acesso a apenas uma única pessoa. Uma vez logado não terá como outra pessoa conseguir logar com sua conta. O plano do tipo Grupo permite que você adicione mais 5 usuários além de você para usar o site.
            <br>
            <br>
            A conta de patrocinador vai te dar acesso a novos utilitários que nunca publiquei no modo free. Existem algumas ferramntas que desenvolvi mas que nunca publiquei aqui no modo free. Com a conta de patrocinador eu vou estar disponibilizando eles para você e mais qualquer nova ferramenta que eu venha a desenvolver estarei disponibilizando apenas para os patrocinadores. 
            <br>
            Se você deseja se tornar um usuário patrocinador. Preencha o formulário abaixo e logo em seguida entre em contato conosco pelo email acima com o assunto patrocinador. Mais detalhes sobre tudo isso você pode encontrar aqui: <a href="http://www.helprpg.com.br/p/modo-patrocinador-tirando-duvidas.html" target="blank">Como ser um usuário patrocinador</a>
            </p>
        </div>
        
        <hr>

        <div class="modal-form">
            <div class="criar-conta-form">
                <form method="post" action="<?php echo URL_BASE ?>criar-uma-conta">
                    <span>Nick</span>
                    <input type="text" name="nick" value="" placeholder="Nick">
                    <span>Email</span>
                    <input type="email" name="email" value="" placeholder="Email">
                    <span>Senha</span>
                    <input type="password" id="pass" name="senha" value="" placeholder="Senha">
                    <span>Confirmar</span>
                    <input type="password" name="confirma" onkeyup="check(this)" value="" placeholder="Confirma senha">
                    <span>Plano</span>
                    <select name="plano" style="height:30px; width:150px;">
                        <option value="1">Único Mensal      - R$ 3,00</option>
                        <option value="2">Único Semestral   - R$ 17,10</option>
                        <option value="3">Único Anual       - R$ 32,40</option>
                        <option value="4">Grupo Mensal      - R$ 15,00</option>
                        <option value="5">Grupo Semestral   - R$ 85,50</option>
                        <option value="6">Grupo Anual       - R$ 162,00</option>
                        <option value="7">Free - Usuários que cadastram</option>
                    </select>
                    <input type="submit" id="btn-criar-conta" disabled="disabled" name="Criar conta" value="Criar conta" class="btn">
                </form> 
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <h3>Help RPG &copy 2018 - Central de Utilitários</h3>
    </div>
  </div>

</div>

 <!-- The Modal -->
<div id="block-msg" class="modal" style="overflow:auto;">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Por favor considere desativar o seu bloqueador de anúnios neste site</h2>
    </div>
    <div class="modal-body">
        <p>Este site é mantido através de seus anuncios, sem eles o projeto tende a morrer. Além disso, existe um grande esforço no desenvolvimento deste projeto. Por favor considere desativar o seu bloqueador de anuncios para utilizar o Help RPG.</p>
        <p>Obrigado!</p>
    </div>
    <div class="modal-footer">
      <h3>Help RPG &copy 2018 - Central de Utilitários</h3>
    </div>
  </div>

</div>