<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: utilitariosterceiros
-->

<div class="label-layout combine">
    <h2 class="title emfont">
        <a class="label-name" href="<?php echo URL_BASE; ?>" title="Utilitários do Help RPG">Utilitários do Help RPG</a>
        <span style="color:#FFF;">/</span>
        <a class="label-name" href="<?php echo URL_BASE.'Utilitarios-de-terceiros'; ?>" title="Utilitários de terceiros">Utilitários de Terceiros</a>
        <a class="label-target" href="<?php echo(isset($_SESSION['login']))?URL_BASE.'dashboard/':'#' ?>">
        <?php if (isset($_SESSION['login'])): ?>
            Logado como: <?php echo $_SESSION['login']; ?>
        <?php else: ?>
            Help RPG
        <?php endif ?>
        </a>
        <div class="clear"></div>
    </h2>
    <div class="clear"></div>
    <div class="content">
        <?php foreach ($this->utilitarios_terceiros as $key => $value): ?>
        <div class="item item-1 item-other">
            <div class="inner">
                <div class="table">
                    <div class="tr">
                        <div class="td" style="width:1%">
                            <a href="<?php echo $url->ads_link(URL_BASE.$key); ?>" target="blank" class="item-thumbnail">
                                <img src="<?php echo URL_BASE.'app/assets/img/icons/'.$key.'.png'; ?>" alt="item-thumbnail" w="320" h="158" style="margin-top: 0px; width: 100%; height: 50px;">
                            </a>
                        </div>
                        <div class="td">
                            <h3 class="title emfont"><a href="<?php echo $url->ads_link(URL_BASE.$key); ?>" target="blank"><?php echo $value['nome']; ?></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php endforeach ?>

        <?php require 'modal.phtml'; ?> 
   
        <div class="clear"></div>
    </div>
</div>

