.box{width:100%}input,textarea{width:100%;height:25px;font-weight:700;text-align:center}select{width:172px;height:25px!important}.input_size{width:auto!important}.span{color:#FFF;background-color:#000;font:12px;text-align:center;padding:1px}.large{margin:15px}