<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de nomes RPG">Gerador de nomes RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-nomes-para-RPG'; ?>">Voltar</a>
      <a class="label-target" href="<?php echo URL_BASE.'nomes/sortear/'.$type; ?>">Sortear nomes</a>       
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Clique em <b>sortear nomes</b> para gerar 10 nomes aleatórios. Os nomes gerados são do tipo <b><i><?php echo $type; ?></i></b>.</p>
    	<div class="clear"></div>
    	<?php foreach ($sorteio->getRaffleItens() as $key => $value): ?>
   		<div class="item item-<?php echo $key+1;?> item-other">
        	<div class="inner">
	            <h2><?php echo $value; ?></h2>            	
         	</div>
      	</div>
    	<?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>