<div id="primary">
	<div class="wide">
		<?php if (isset($_QUERY['status'])): ?>
			<div class="display-msg" id="display-msg">
		        <p><?php echo $display->messages[$_QUERY['status']]; ?></p>
		        <span id="close">X</span>
			</div>
		<?php endif ?>
		<div id="main">
			<?php $publicidade->ads_fluid(); ?>

			<?php require_once $this->content(); ?>
		
			<?php $publicidade->ads_fluid(true); ?>
		</div>
		<div id="side">
			<div class="widget margin" data-version="1" id="HTML8">
				<h2 class="title">TRANSLATE</h2>
				<div class="item item-other">
					<div class="inner">
						<div id="google_translate_element"></div><script type="text/javascript">
							function googleTranslateElementInit() {
							  new google.translate.TranslateElement({pageLanguage: 'pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-71818376-6'}, 'google_translate_element');
							}
							</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
							<style>#google_translate_element{width:100%;} .goog-te-gadget-simple{margin-left:20%;margin-top:5px;margin-bottom:5px;padding: 5px;}</style>
					</div>
				</div>
			</div>
			
			<div class="widget margin" data-version="1" id="HTML8">
				<?php $publicidade->ads_responsive(true); ?>
			</div>
	
			<div class="clear"></div>
			
			<div class="widget margin" data-version="1" id="HTML9">
				<h2 class="title">PARCEIRO - TAVOLA D20</h2>
				<div class="item item-other">
					<div class="inner">
						<a href="http://bit.ly/2LJ4gAI" target="blank">
							<img src="<?php echo URL_BASE.'app/assets/img/tavola.jpg'; ?>">
						</a>
					</div>
				</div>
			</div>

			<div class="clear"></div>
			
			<div class="widget margin" data-version="1" id="HTML9">
				<h2 class="title">COMPRAR DADOS DE RPG AQUI!</h2>
				<div class="item item-other">
					<div class="inner">
						<a href="http://bit.ly/2OcR48P" target="blank">
							<img src="<?php echo URL_BASE.'app/assets/img/cantina-dos-jogos.jpg'; ?>">
						</a>
					</div>
				</div>
			</div>

			<div class="clear"></div>
			
			<div class="widget margin" data-version="1" id="HTML10">
				<h2 class="title">Parceiros</h2>
				<div class="item item-other">
					<div class="widget-content" style="font-size:21px;">
						<div class="inner">
							<a href="http://beholdercego.blogspot.com/" target="blank">Beholder Cego</a>
							<br>
							<a href="http://www.dobradinhacomics.com" target="blank">Dobradinha Comics</a>
							<br>
							<a href="https://epicorpg.com.br/" target="blank">Épico RPG</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>

			<div class="widget margin" data-version="1" id="HTML11">
				<?php $publicidade->ads_fluid(true); ?>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>