<div id="footer">
   <div class="wide" style="padding-left: 15px; padding-right: 15px;">
    	<div class="" id="footer-section">
        	<div class="widget HTML" data-version="1" id="HTML5">
            	<h2 class="title">Sobre o HelpRPG</h2>
            	<div class="widget-content" style="text-align: justify;">
	               <blockquote>Aqui no Help Rpg você vai encontrar ferramentas que auxiliarão mestres e jogadores e experimentarem o melhor de uma partida de Rpg. Nossos recursos buscam facilitar várias tarefas para criação de aventura e personagens.</blockquote>
	            </div>
            	<div class="clear"></div>
        	</div>

        	<div class="widget HTML" data-version="2" id="HTML6">
				<h2 class="title">Procura Parceria?</h2>
				<div class="widget-content" style="text-align: justify;">
					<p>Se você tem interesse em fazer parceria conosco, basta nos enviar um e-mail para <b>helprpg.br@gmail.com</b> com o assunto <b>parceria</b>. Retornaremos o mais breve possível.</p>
				</div>
				<div class="clear"></div>
			</div>

			<div class="widget HTML" data-version="2" id="HTML7">
				<h2 class="title">Utilitários mais acessados</h2>
				<div class="widget-content">
					<a href="<?php echo $url->ads_link(URL_BASE.'Gerador-de-nomes-para-RPG'); ?>">Gerador de nomes</a>
					<br>
					<br>
					<a href="<?php echo $url->ads_link(URL_BASE.'Gerador-de-cidades-para-RPG'); ?>">Gerador de cidades</a>
					<br>
					<br>
					<a href="<?php echo $url->ads_link(URL_BASE.'Gerador-de-encontros-aleatorios-para-RPG'); ?>">Gerador de encontros</a>
					<br>
					<br>
					<a href="<?php echo $url->ads_link(URL_BASE.'Gerador-de-tavernas-para-RPG'); ?>">Gerador de tavernas</a>
					<br>
					<br>
					<a href="<?php echo $url->ads_link(URL_BASE.'Gerador-de-aventuras-para-RPG'); ?>">Gerador de Aventuras</a>
					<br>
					<br>
				</div>
				<div class="clear"></div>
			</div>
      	</div>
      	<div class="clear"></div>
   	</div>
</div>

<div class="clear"></div>

<div id="copyright">
	<div class="wide">
		<div class="inner">
			Copyright (c) 2011-<?php echo date("Y"); ?> <a href="/">Help RPG</a>. Criado por <a href="https://www.facebook.com/maickonr" target="_blank">Maickon Rangel</a> Design by <a href="http://themeforest.net/user/tiennguyenvan/portfolio?ref=tiennguyenvan" target="_blank">Blogger Items</a>
		</div>
	</div>
</div>