<?php global $div_expire, $script ?>
<head>
	<title><?php echo $this->meta_title; ?></title>
	<link href="https://fonts.googleapis.com/css?kit=e9l7fV-3xzXBO6qidGAzZw" rel="stylesheet" type="text/css">
	<meta http-equiv="Cache-control" content="public">
	<meta http-equiv="Pragma" content="public">
	<meta http-equiv="content-language" content="<?php echo $_SESSION['language']; ?>" />
	<meta name="copyright" content="Copyright (c) 2011-<?php echo date("Y"); ?> Help RPG" />
	<meta name="rating" content="14 years" />
	<link href='<?php echo URL_BASE.'app/assets/img/favicon.ico' ?>' rel='icon' type='image/x-icon'/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="<?php echo $this->meta_description; ?>" />
	<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />
	<meta name="author" content="<?php echo 'Maickon Rangel'; ?>" />
	<meta name="google-site-verification" content="i-QnXs1oV6p3-z24h7xN0HL9hUUukPGli1HKXbtH7Ic" />
	<meta name="msvalidate.01" content="B78E04ADA7507EE17048BB785E464A5A" />
	<meta name="p:domain_verify" content="66513ef0cbe085affbc6dc2f703171cc"/>
	<meta property="og:title" content="<?php echo $this->meta_title; ?>">
	<meta property="og:site_name" content="Help RPG">
	<meta property="og:locale" content="<?php echo $_SESSION['language']; ?>">
	<meta property="og:url" content="<?php echo "http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
	<meta property="og:description" content="<?php echo $this->meta_description; ?>">
	<meta property="og:type" content="website">
	<meta property="og:image" content="<?php echo URL_BASE.'app/assets/img/logo-principal.png' ?>">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="500">
	<meta property="og:image:height" content="340">
	<meta property="website:author" content="Maickon Rangel">
	<meta property="website:section" content="Utilitários">
	<meta property="website:tag" content="<?php echo $this->meta_keywords; ?>">

	<?php echo $this->css_files; ?>
	<link href="<?php echo URL_BASE; ?>app/assets/css/modal.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://www.blogger.com/static/v1/widgets/2437439463-css_bundle_v2.css" rel="stylesheet" type="text/css" media="all" />

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({
	          google_ad_client: "ca-pub-3010334569259161",
	          enable_page_level_ads: true
	     });
	</script>
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71818376-6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-71818376-6');
	</script>

     <!-- PopAds.net Popunder Code for utilitariosrpg.com.br | 2020-02-18,3564211,0,0 -->
     <script type="text/javascript" data-cfasync="false">
     /*<![CDATA[/* */
     /* Privet darkv. Each domain is 2h fox dead */
      (function(){ var z=window;z["\u005fp\x6f\u0070"]=[["\x73\u0069t\u0065\x49\u0064",3564211],["\u006d\x69n\x42\x69d",0],["\x70\u006f\u0070u\x6e\u0064ersP\u0065\x72IP",0],["del\x61y\u0042\u0065\u0074\x77\u0065\u0065\u006e",0],["\u0064e\x66\u0061\x75\u006c\x74",false],["\x64ef\u0061\u0075\x6ct\u0050\u0065\x72\x44\u0061y",0],["t\u006f\x70\x6d\x6f\u0073\x74\u004cay\x65\x72",!0]];var s=["//\x63\x31\u002e\x70\x6f\u0070\u0061\x64\x73\x2e\u006eet\x2f\x70\u006f\u0070\u002ejs","\u002f\x2fc\u0032\u002ep\u006fp\x61d\x73.n\x65\x74\x2fpo\x70.\x6a\u0073","\x2f/\x77ww\x2e\x65\u0062\u0063\x70\u0066\x73sl\u0068\u0074\x2eco\u006d\u002f\x61d\u002ej\u0073","\x2f/\u0077\x77\u0077.zf\x70tnw\x63\x77\u0079\x6c.\x63o\u006d\x2fa.\x6a\x73",""],g=0,b,c=function(){if(""==s[g])return;b=z["\u0064\x6f\u0063\u0075\u006de\u006e\u0074"]["\u0063re\x61t\u0065\u0045\x6c\x65\u006d\u0065nt"]("\u0073\x63r\u0069\u0070\x74");b["t\u0079p\x65"]="te\u0078\x74\u002fj\x61\u0076\x61scr\u0069pt";b["\u0061\x73y\x6e\u0063"]=!0;var m=z["\x64o\x63\u0075m\x65\x6e\u0074"]["\u0067e\x74\x45\u006c\x65\u006d\u0065\u006e\u0074s\x42\u0079T\u0061g\x4ea\u006d\u0065"]("\x73cri\u0070\x74")[0];b["sr\x63"]=s[g];if(g<2){b["c\x72\u006f\u0073\x73O\u0072\x69g\u0069\x6e"]="ano\x6eym\u006fu\x73";};b["on\u0065\u0072\u0072o\x72"]=function(){g++;c()};m["\u0070\u0061re\x6et\x4eo\u0064\u0065"]["in\u0073e\u0072\u0074\x42e\x66\x6fr\u0065"](b,m)};c()})();
     /*]]>/* */
     </script>


	<script type="text/javascript">var URL_BASE = '<?php echo URL_BASE; ?>';</script>
	<?php echo $script; ?>
</head>
<?php echo $div_expire; ?>