<html>
<?php require_once 'header.phtml'; ?>
<body>
	<?php require PATH_BASE.'app/views/init/modal.phtml'; ?>
	
	<?php require 'menu.phtml'; ?>

	<?php require 'body.phtml'; ?>

	<?php require_once 'footer.phtml'; ?>

	
	<script type="text/javascript" src="<?php echo URL_BASE; ?>app/assets/js/modal.js"></script>
	<?php echo $this->js_files; ?>
	 <script type="text/javascript">
        $("#cor-padrao").click(function(){
            var n = $("#cor-padrao").prop('checked');
            if (n == true) {
            	$("#card-area input, #card-area textarea").css('color','#000');
            } else {
            	$("#card-area input, #card-area textarea").css('color','#FFF');
            }
        });
    </script>
	<?php if (!isset($_SESSION['login']) && !isset($_SESSION['usuarios_logados']) && !isset($_SESSION['plano'])): ?>
		<script async type="text/javascript"> 
		    var adfly_id = 11006171; 
		    var popunder_frequency_delay = 2;
		    var adfly_protocol = 'https';
		</script> 
		<script async src="https://cdn.adf.ly/js/display.js"></script>
	<?php else: ?>
		<?php if ($_SESSION['plano'] == 7): ?>
			<script async type="text/javascript"> 
		        var adfly_id = 11006171; 
		        var popunder_frequency_delay = 2;
		        var adfly_protocol = 'https';
		    </script> 
		    <script async src="https://cdn.adf.ly/js/display.js"></script>
		<?php endif ?>
	<?php endif ?>
	</body>
</html>