<div id="header">
   	<div class="header-inner wide emfont">
      	<div class="table header-menu">
         	<div class="tr">
            	<div class="td section" id="header-section">
               		<div class="widget Header" data-version="1" id="Header1">
                  		<h1 class="blog-title">
                     		<a href="<?php echo URL_BASE; ?>">
                     			<img alt="Help RPG" height="120px; " src="<?php echo URL_BASE.'app/assets/img/'; ?>logo.png" title="Help RPG" width="120px; ">
                     		</a>
                  		</h1>
              	 	</div>
            	</div>
            	<div class="menu-container td">
               		<div class="section-label section" id="main-menu-label">
                 		<div class="widget HTML" data-version="1" id="HTML100">
                     		<h2 class="title">Menu Principal</h2>
                     		<div class="widget-content"></div>
                     		<div class="clear"></div>
                     		<span class="widget-item-control">
                     			<span class="item-control blog-admin">
	                     			<a class="quickedit" href="//www.blogger.com/rearrange?blogID=5790058751600283732&amp;widgetType=HTML&amp;widgetId=HTML100&amp;action=editWidget&amp;sectionId=main-menu-label" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML100&quot;));" target="configHTML100" title="Editar">
	                     				<img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
	                     			</a>
                     			</span>
                     		</span>
                     		<div class="clear"></div>
                  		</div>
               		</div>
               		
               		<div class="crosscol section" id="main-menu">
	                  	<ul class="menu" id="res-menu-1">
		           			<li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>especial/links" target="blank">Links rápidos</a>
		                    </li>
		           			<li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>especial" target="blank">Especial</a>
		                    </li>
		
		                    <li class="menu-item">
		                    	<a href="<?php echo URL_BASE ?>aventurateca" target="blank">Aventurateca</a>
		                    </li>
		                    <li class="menu-item">
		                    	<a href="http://www.helprpg.com.br/p/anuncios-no-help-rpg.html" target="blank">Anuncie</a>
		                   	</li>
		                   	<?php if (!isset($_SESSION['login'])): ?>
			                    <li class="menu-item">
			                    	<a href="#" onclick="diaplayModal('nova-conta');">Criar conta</a>
			                    </li>
		                    <?php endif ?>
		                    <li class="menu-item">
		                    	<?php if (isset($_SESSION['login'])): ?>
		                    		<a href="<?php echo URL_BASE.'sair' ?>">Logout</a>
		                    	<?php else: ?>
		                    		<a href="#" onclick="diaplayModal('login');">Login</a>
		                    	<?php endif ?>
		                    </li>
		                </ul>
                  
	                  	<select class="selectnav" id="selectnav1">
		                    <option value="" selected>≡ Menu</option>
		                    <option value="http://www.helprpg.com.br/2017/08/como-se-joga-rpg.html">O que é RPG?</option>
		                    <option value="http://www.helprpg.com.br/p/sobre.html">Sobre</option>
		                    <option value="http://www.helprpg.com.br/p/blog-page.html">Seja um Helper</option>
		                    <option value="http://www.helprpg.com.br/p/revistas.html">Revistas</option>
		                    <option value="http://helprpg.uphero.com/">Utilitários antigos</option>
		                    <option value="#" onclick="diaplayModal('login');">Login</option>
	                  	</select>
               		</div>
               
	               	<div class="section-label section" id="sub-menu-label">
	                	<div class="widget HTML" data-version="1" id="HTML101">
	                    	<h2 class="title">Sub Menu</h2>
	                    	<div class="widget-content"></div>
	                    	<div class="clear"></div>
	                    	<span class="widget-item-control">
		                    	<span class="item-control blog-admin">
		                    		<a class="quickedit" href="//www.blogger.com/rearrange?blogID=5790058751600283732&amp;widgetType=HTML&amp;widgetId=HTML101&amp;action=editWidget&amp;sectionId=sub-menu-label" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML101&quot;));" target="configHTML101" title="Editar">
		                     			<img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
		                     		</a>
		                     	</span>
	                     	</span>
	                     	<div class="clear"></div>
	                  	</div>
	               	</div>
            	</div>
        	</div>
    	</div>
	</div>
	<div class="clear"></div>
</div>