<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de fichas D&D 3.5 RPG">Gerador de fichas D&D 3.5 RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Gerador-de-Fichas-Dungeons-and-Dragons-3.5'; ?>">Sortear</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px; text-align: justify;">A ficha segue a progressão baseado nos dados da classe, ajustes raciais estão sendo considerados, pv, testes, perícias e calculo da CA. Algumas armas, escudos e armaduras podem vir sorteado como kit base do personagem.</p>
   		<div style="margin: 15px;">
   			<form method="post">
	   			<select name="classe">
	   				<option value="">Classe</option>
	   				<option value="barbaro">Bárbaro</option>
	   				<option value="bardo">Bardo</option>
	   				<option value="clerigo">Clérigo</option>
	   				<option value="druida">Druida</option>
	   				<option value="feiticeiro">Feiticeiro</option>
	   				<option value="guerreiro">Guerreiro</option>
	   				<option value="ladino">Ladino</option>
	   				<option value="mago">Mago</option>
	   				<option value="monge">Monge</option>
	   				<option value="paladino">Paladino</option>
	   				<option value="ranger">Ranger</option>
	   			</select>

	   			<select name="raca">
	   				<option value="">Raça</option>
	   				<option value="Humano">Humano</option>
	   				<option value="Anão">Anão</option>
	   				<option value="Elfo">Elfo</option>
	   				<option value="Gnomo">Gnomo</option>
	   				<option value="Meio-Elfo">Meio-Elfo</option>
	   				<option value="Meio-Orc">Meio-Orc</option>
	   				<option value="Halfling">Halfling</option>
	   			</select>

	   			<select name="nivel">
	   				<option value="">Nível</option>
	   				<?php for($i=1; $i<=20; $i++): ?>
					<?php echo '<option value="'.$i.'">'.$i.'</option>'; ?>
	   				<?php endfor; ?>
	   			</select>
	   			<input type="submit" class="btn" name="Nova Ficha">
   			</form>
   			<input type="button" class="btn" name="Download" value="Exportar imagem" onclick="download('ficha-ded-35');">
   		</div>			
   		<div class="item item-other" id="ficha-ded-35">
        	<div class="inner">
            	<?php
				echo '<div style="text-align: justify;">';
				echo '<b>'.$ficha->nome.'</b> '.$ficha->raca.' '. ucfirst($ficha->classe).' '. $ficha->nivel.' <b>Tend.</b>'.$ficha->tendencia.' <b>ND</b> '.$ficha->nivel.' <b>Tam.</b>'.$ficha->tamanho.' <b>Desl.</b>'.$ficha->deslocamento.' Metros';
				echo '<hr>';
				echo '<b>PV</b>'.$ficha->pv.' <b>CA</b> '.$ficha->ca;
				echo '<hr>';
				echo '<b>For</b> '.$ficha->habilidades_basicas['for'].'('.$ficha->modificador($ficha->habilidades_basicas['for']).') ';
				echo '<b>Des</b> '.$ficha->habilidades_basicas['des'].'('.$ficha->modificador($ficha->habilidades_basicas['des']).') ';
				echo '<b>Con</b> '.$ficha->habilidades_basicas['con'].'('.$ficha->modificador($ficha->habilidades_basicas['con']).') ';
				echo '<b>Int</b> '.$ficha->habilidades_basicas['int'].'('.$ficha->modificador($ficha->habilidades_basicas['int']).') ';
				echo '<b>Sab</b> '.$ficha->habilidades_basicas['sab'].'('.$ficha->modificador($ficha->habilidades_basicas['sab']).') ';
				echo '<b>Car</b> '.$ficha->habilidades_basicas['car'].'('.$ficha->modificador($ficha->habilidades_basicas['car']).') ';

				echo '<hr>';
				echo '<b> Fortitude</b>: '.$ficha->fortitude;
				echo '<b> Reflexos</b>: '.$ficha->reflexos;
				echo '<b> Vontade</b>: '.$ficha->vontade;

				echo '<hr>';
				echo '<b>Bônus corpo-a-corpo</b>: '.$ficha->ataque_corporal;
				echo '<br>';
				echo '<b>Bônus a distância</b>: '.$ficha->ataque_distancia;
				echo '<br>';

				if (count($ficha->armas_equipadas) > 1) {
					echo '<hr>';
					foreach ($ficha->armas_equipadas as $key => $value) {
						echo '<b>Arma</b>: '.$value['nome'].' <b>Dano</b>: '.$value['dano_medio'].$ficha->modificador($ficha->habilidades_basicas['for']).' <b>Decisivo</b>: '.$value['decisivo'].'<br>';
					}
				} else {
					echo '<b>Arma</b>: '.$ficha->armas_equipadas[0]['nome'].' <b>Dano</b>: '.$ficha->armas_equipadas[0]['dano_medio'].$ficha->modificador($ficha->habilidades_basicas['for']).' <b>Decisivo</b>: '.$ficha->armas_equipadas[0]['decisivo'].'<br>';
				}

				if ($ficha->armaduras_equipadas != null) {
					echo '<hr>';
					echo '<b>Armadura</b>: '.$ficha->armaduras_equipadas['nome'].' '.$ficha->armaduras_equipadas['bonus_na_ca'].' <b>na CA Penalidade</b> '.$ficha->armaduras_equipadas['penalidade_des'].' <b>Peso</b> '.$ficha->armaduras_equipadas['peso'];
				}

				if ($ficha->escudos_equipados != null) {
					echo '<hr>';
					echo '<b>Escudo</b>: '.$ficha->escudos_equipados['nome'].' '.$ficha->escudos_equipados['bonus_na_ca'].' <b>na CA Penalidade</b> '.$ficha->escudos_equipados['penalidade_des'].' <b>Peso</b> '.$ficha->escudos_equipados['peso'];
				}

				echo '<hr>';
				echo '<b>Talentos de classe</b>: '.$ficha->tabela_de_classe[$ficha->nivel-1]['especial'];
				echo '<hr>';
				echo '<b>Talentos:</b> ';
				foreach ($ficha->talentos_selecionados as $key => $value) {
					echo "{$value['nome']}: <i>{$value['beneficios']}</i> - ";
				}
				echo '<hr>';
				echo '<b>Perícias</b>: ';
				foreach ($ficha->pericias as $key => $value) {
					echo "{$value['nome']}({$value['habilidade_chave']}) {$value['total']} ";
				}
				echo '<hr>';
				echo '<b>Descrição racial: </b>'.$ficha->descricao_racial;
				echo '</div>'; 

				if (!empty($ficha->magias_selecionadas)) {
					echo '<hr>';
					if ($ficha->magias_conhecidas != '') {
						echo '<b>Magias conhecidas: </b>'.$ficha->magias_conhecidas;
						echo '<hr>';
					}

					foreach ($ficha->magias_selecionadas as $key => $value) {
						if ($ficha->classe == 'paladino' || $ficha->classe == 'ranger') {
							$key +=1;
						}
						echo '<b>Magias de '.$key.'° circulo de '.$ficha->classe.'</b><br>';
						if (is_array($value)) {
							foreach ($value as $key1 => $value1) {
								$desc = explode(':',$value1);
								echo "<span style=\"color:#000A22\">{$desc[0]}</span>: <i>{$desc[1]}</i> <br>";
							}
						} else {
							if (empty($value)) {
								echo '-<br>';
							} else{
								$desc = explode(':',$value);
								echo "<span style=\"color:#000A22\">{$desc[0]}</span>: <i>{$desc[1]}</i> <br>";
								echo "{$value} <br>";
							}
						}
					}
				}
				?>
				<br>
				<a href="#">Ficha gerada pelo helprpg.com.br</a>
         	</div>
      	</div>
    	<div class="clear"></div>
	</div>
</div>