<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel - maickon4developers@gmail.com
	Prodigio Framework - 2017
	View: dados
-->
<div class="label-layout combine">
   	<h2 class="title emfont">
      	<a class="label-name" href="#" title="Gerador de frases para RPG">Gerador de frases para RPG</a>
      	<a class="label-target" href="<?php echo URL_BASE.'Frases-epicas-para-RPG'; ?>">Voltar</a>
      	<a class="label-target" href="<?php echo URL_BASE.'frases/sortear/'.$type; ?>">Sortear frase</a>
    	<div class="clear"></div>
   	</h2>
   	<div class="clear"></div>
   	<div class="content">
   		<p style="margin: 15px;">Tipo escolhido: <i><b><?php echo $type; ?></b></i>.</p>       			
      <?php foreach ($frases_sorteadas as $key => $value): ?>
   		<div class="item item-1 item-other">
        	<div class="inner">
            	<div class="table" style="text-align: justify;">
	                <h3>Frase de N°<?php echo $key+1; ?></h3>
	               	<br>
	               	<div class="tr">
	                  	<div class="td">
	                   		<p><i><?php echo $value; ?></i></p>
	                  	</div>
		            </div>
            	</div>
         	</div>
      	</div>  
        <?php endforeach ?>
    	<div class="clear"></div>
	</div>
</div>